
a, a:hover,
.btn-mod.btn-border-c,
.btn-mod.btn-w-color,
.tpl-progress.progress-color .progress-bar,
.tpl-progress.progress-color .progress-bar > span
{
    color: #76c04d;
}

.color{
    color: #76c04d !important;
}

.btn-mod.btn-border-c,
.team-item-image,
.post-prev-border
{
    border-color: #76c04d;
}


.loader,
.btn-mod.btn-border-c:hover,
.btn-mod.btn-border-c:focus,
.btn-mod.btn-color,
.btn-mod.btn-color:hover,
.btn-mod.btn-color:focus,
.bg-color,
.bg-colort-alfa:before,
.bg-colort-alfa .YTPOverlay:before,
.bg-color-alfa-30:before,
.bg-color-alfa-30 .YTPOverlay:before,
.bg-color-alfa-50:before,
.bg-color-alfa-50 .YTPOverlay:before,
.bg-color-alfa-70:before,
.bg-color-alfa-70 .YTPOverlay:before,
.bg-color-alfa-90:before,
.bg-color-alfa-90 .YTPOverlay:before,
.service-item:hover,
.alt-features-icon-1,
.works-grid.hover-color .work-item:hover .work-img:after,
.tpl-progress.progress-color .progress-bar,
.tpl-progress-alt.progress-color .progress-bar,
.hs-line-10.highlight
{
    background-color: #76c04d;
}

.page-section .ns-cpf,
.section-line,
.nwrapper-menu-item-1{
    background-color: #76c04d!important;
}

.aga4,
.page-section .container-result h4,
.page-section .container-result h2 strong,
.home-text h1 span.orange,
.nwrapper-menu .nwrapper-menu-text p strong{
    color: #76c04d!important;
}


.bg-dark-alfa-90:before, .bg-dark-alfa-90 .YTPOverlay:before,
.nfooter .nform,
.nfooter .topo{
    background: rgba(118, 192, 77, 0.9);
}

.nav>li>a{
    display: inline-block;
}

.logo.sponchiado img{
    width: 50%;
}

.nfooter .nform .btn-submit-nform{
    color: #44ae88;
}
.home-text #form-5 .row-info{
    background-color: #44ae88;
}