*{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  outline: none!important;
}

html{
  overflow-x: hidden;
  overflow-y: visible;
  width: 100vw;
}

body{
  position: relative;
  font-family: $source;
  overflow-x: hidden;
  overflow-y: visible;
}


.border-left{
  border-left: 1px solid $orange;
  padding-left: 8px;
}