footer{
  background-color: $dark_gray;
  height: 500px;

  @media only screen and (min-width: 768px){
    height: 219px;
  }

  figure{
    img{

    }
    figcaption{
      color: rgba($bege, .5);
      font-size: rem(14);
      padding-top: 5px;
    }
  }


  .fd_footer{
    [class*="col-xs-"]{
      height: 150px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

      &:first-of-type{
        .fd_item{
          max-width: 200px;
          width: 100%;
        }
      }

      &:nth-child(2){
        .fd_item{
          max-width: 300px;
          width: 100%;
          text-align: center;

          p{
            font-size: rem(13);
            color: rgba($bege, .5);
            text-align: center;
            max-width: 300px;
            width: 100%;
            display: block;
            margin: 0 auto;
            font-weight: 800;
          }

          figure{
            position: relative;
            display: inline-block;
            margin: {
              left: -20px;
              right: 0;
            };
            padding-top: 10px;

            img{
              margin-top: -10px;
            }
          }

          h5{
            display: inline-block;
            color: $bege;
            font-size: rem(33);
            font-weight: 800;
            margin: 0;

            a{
              color: $bege;
              text-decoration: none!important;
            }
          }
        }

        @media only screen and (min-width: 768px) and (max-width: 991px){
          .fd_item{
            h5{
              font-size: rem(25);
            }
          }
        }
      }

      &:last-of-type{
        .fd_item{
          max-width: 300px;
          width: 100%;
          text-align: center;
          @include flexbox;
          @include justify-content(center);
          @include align-items(center);

          p{
            font-size: rem(13);
            color: rgba($bege, .5);
            margin: 0 auto;
            text-align: left;
          }

          figure{
            display: inline-block;
            margin-right: 10px;
            border-right: 1px solid rgba($bege, .25);
            padding-right: 8px;
          }
        }

        @media only screen and (min-width: 768px) and (max-width: 991px){
          .fd_item{
            display: block;
          }
        }
      }
    }
  }
}