header{
  height: calc(100vh + 240px);
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 7000;

  .fd_header_bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: {
      size: cover;
      repeat: no-repeat;
      position: center;
    };
    overflow: hidden;

    @include transition(background-position .125s ease);
  }

  .fd_first{
    display: block;
  }
  .fd_last{
    display: none;
  }

  @media only screen and (min-width: 768px){
    height: calc(100vh + 120px);
  }

  @media only screen and (min-width: 992px){
    overflow: hidden;
    height: 100vh;
  }

  .fd_header_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-flow(column);
    z-index: 19;

    background-color: transparentize($black, .5);
    padding: {
      left: 15px;
      right: 15px;
      bottom: 0;
    }

    @media only screen and (min-width: 768px){
      padding-bottom: 120px;
    }

    @media only screen and (min-width: 1200px){
      padding: {
        left: 15px;
        right: 15px;
        bottom: 0;
      };
    }

    h1,h2{
      color: $dark_white;
      font-size: rem(20);
      line-height: 101%;
      font-weight: 900;
      margin: 0 auto;
      width: 100%;
      max-width: 1050px;
      padding: 0 30px;
      text-align: center;

      @media only screen and (min-width: 576px){
        font-size: rem(30)
      }

      @media only screen and (min-width: 768px){
        font-size: rem(40)
      }

      @media only screen and (min-width: 992px){
        font-size: rem(50)
      }

      @media only screen and (min-width: 1200px){
        font-size: rem(60);
      }
    }

    h4{
      color: $dark_white;
      font-size: rem(15);
      line-height: 120%;
      font-weight: 300;
      margin: 25px auto 0;
      width: 100%;
      max-width: 500px;
      padding: 0;
      text-align: center;

      @media only screen and (min-width: 768px){
        font-size: rem(16)
      }

      @media only screen and (min-width: 992px){
        font-size: rem(18)
      }

      @media only screen and (min-width: 1200px){
        font-size: rem(22)
      }
    }


    .fd_header_mouse{
      position: absolute;
      top: 85vh;
      left: 0;
      right: 0;
      text-align: center;
      display: none;

      @media only screen and (min-width: 580px){
        display: block;
      }
    }

    .fd_flex_column{
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

      h1{
        width: auto;
        float: left;
      }

      img{
        width: 100px;
        float: left;
      }

      @media only screen and (min-width: 768px){
        img{
          width: auto;
        }
      }
    }
  }

  .fd_form_header_default{

    $height: 62px;

    background-color: #F0F0EE;
    border: none;
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 15px;
    position: relative;
    padding: 5px 5px 10px;


    @include box-shadow(5px 5px 15px transparentize($black, .75));

    @media only screen and (min-width: 768px){
      margin-top: 25px;
    }

    @media only screen and (min-width: 992px){
      margin-top: 45px;
    }

    @media only screen and (min-width: 1200px){
      margin-top: $height * 2/3;
      @include flexbox;
    }

    .fd_row_1{
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(row);
      background-color: #F0F0EE;
      padding-top: 15px;


      @media only screen and (max-width: 767px){
        @include flex-flow(column);
      }

      [class*="fd_text_"],
      [class^=" fd_text_"]{
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        padding: 0 5px;
      }
      .fd_text_1{
        width: 100%;
        font-size: rem(10);
        color: $dark_gray;
        text-transform: uppercase;
        text-align: right;
        font-weight: 600;

        position: relative;

        text-decoration: none !important;
        @include transition(color .25s $cubic-easeing);

        .form-group{
          @include flexbox;
          @include justify-content(space-around);
          @include align-items(center);
          margin-bottom: 5px;

          .fd_input{
            background-color: $white;
            border-color: lighten($light_gray, 30%);
            @include flex-grow(1);
          }

          label:not(.error){
            width: 113px;
            margin-right: 5px;
            color: $orange;
          }
        }
      }

      .fd_text_2{
        width: 25%;
        position: relative;
        @include flex-flow(column);
        font-size: rem(12);
        text-transform: uppercase;
        color: $dark_gray;
        text-decoration: none!important;
        font-weight: 600;

        @include transition(color $default-timing $cubic-easeing);

        svg{
          fill: $light_gray;
          height: 31px;
          width: 31px;

          @include transition(fill $default-timing $cubic-easeing);
        }

        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          height: 33px;
          width: 1px;
          background-color: $light_gray + 30;
          margin-top: calc( (50% - 33px) / 2);
        }

        &:hover,
        &.fd_active{
          color: $orange;
          svg{
            fill: $orange!important;
          }
        }
      }

      .fd_text_3{
        width: 25%;
        @include flex-flow(column);
        font-size: rem(12);
        text-transform: uppercase;
        color: $dark_gray;
        text-decoration: none!important;
        font-weight: 600;

        @include transition(color $default-timing $cubic-easeing);

        svg{
          fill: $light_gray;
          height: 31px;
          width: 31px;

          @include transition(fill $default-timing $cubic-easeing);
        }

        &:hover,
        &.fd_active{
          color: $orange;
          svg{
            fill: $orange!important;
          }
        }
      }
      .fd_text_4{
        width: 30%;
        background-color: $dark_gray;
        font-size: rem(10);
        color: $light_gray;
        text-transform: uppercase;
        text-align: right;
        font-weight: bold;
      }

      @media only screen and (min-width: 992px){
        width: 35%;
        float: left;
        @include align-items(flex-end);
        height: 110px;
        padding: 20px;

        .fd_text_1{
          .form-group{
            @include flex-flow(column);
            margin: 0;

            label:not(.error){
              width: 100%;
              text-align: left;
              margin-left: 15px;
              font-size: rem(12);
            }
            .fd_input{
              width: 100%;
            }
          }
        }
      }

      @media only screen and (min-width: 1200px){
        float: left;
        width: 45%;

        .fd_text_1{
          width: 100%;
          font-size: rem(12);
          padding: {
            left: 10px;
          };
        }
        .fd_text_4{
          width: 154px;
          font-size: rem(12);
          padding: {
            left: 15px;
          };
        }
      }
    }

    .fd_row_2{
      background-color: #F0F0EE;
      padding: {
        left: 5px;
        right: 5px;
      }

      .fd_text_6{
        width: 100%;
        position: relative;
        font-size: 1rem;
        text-transform: uppercase;
        color: #555;
        text-decoration: none !important;
        font-weight: 600;

        .receber_simulacao{
          background: $orange;
          padding: 10px;
          color: $white;
          border: 0;
          font-size: rem(11);
          height: 40px;

          @include flexbox;
          @include justify-content(center);
          @include align-items(center);
        }

        .form-group{
          @include flexbox;
          @include justify-content(space-around);
          @include align-items(center);
          margin-bottom: 5px;

          .fd_input{
            background-color: $white;
            border-color: lighten($light_gray, 30%);
            @include flex-grow(1);
          }

          label:not(.error){
            width: 113px;
            margin-right: 5px;
            text-align: right;
          }
        }

        @include transition(color .25s $cubic-easeing);
      }

      &:after{
        content: '';
        clear: both;
        display: table;
      }

      #slider{
        width: 100%!important;
      }

      span.fd_s{
        width: 70px;
        font-size: rem(14);
        color: $dark_gray;
        padding: 0 5px ;
        text-align: center;
        font-weight: bold;
      }


      #slider{
        height: 4px;
        border: none;
        background: $dark_gray + 100;
        border-radius: 0;
      }

      #custom-handle {
        height: 18px;
        width: 18px;
        border-radius: 18px;
        background-color: transparent;
        border: 2px solid transparent;
        outline: none!important;
        top: -7px;
        position: relative;
        color: $white;
        font-weight: bold;
        font-size: rem(12);
        text-align: center;
        line-height: 18px;


        &:after{
          content: attr(data-content);
          position: absolute;
          top: -18px;
          left: calc( -87px / 2 + 9px );
          width: 87px;
          height: 20px;
          background-color: $orange;
          z-index: -1;
          cursor: pointer;
        }

        &:before{
          content: '';
          position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          height: 18px;
          width: 18px;
          border-radius: 18px;
          background-color: $orange;
          border: 2px solid $white;
          z-index:18;
          cursor: pointer;
        }
      }

      @media only screen and (min-width: 768px){
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        .fd_text_6{

          .form-group{
            display: block;
            padding:0 15px;
            .fd_input{
            }

            label:not(.error){
              text-align: left;
            }
          }
        }
      }

      @media only screen and (min-width: 992px){
        @include align-items(flex-end);
        height: 110px;
        padding: 0 5px 20px;

        .fd_text_6{
          .form-group{
            padding: 0 5px;
            margin: 0;
            .fd_input{

            }
          }
        }
      }

      @media only screen and (min-width: 1200px){
        @include flex-grow(1);
        float: left;

        .fd_text_6{
          .form-group{
            padding: 0 5px;
            margin: 0;
            .fd_input{

            }
          }
        }
      }
    }


    .fd_row_3{
      width: 227px;
      float: left;

      .fd_btn_next{
        width: 100%;
        height: $height;
        line-height: $height;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        background-color: $orange;
        text-transform: uppercase;
        font-size: rem(16);
        color: $dark_white;
        font-family: $roboto;
        font-weight: bold;
        text-decoration: none!important;

        @include transition(background-color $default-timing*1.5 $cubic-easeing);

        img{
          height: 17px;
          width: 17px;
          margin-left: 8px;
        }

        &:hover{
          background-color: $orange + 30;
        }

        @media only screen and (min-width: 1200px){
          margin-left: 10px;
        }
      }

      @media only screen and (min-width: 650px){
        width: 35%;
        float: left;
      }

      @media only screen and (min-width: 992px){
        width: 20%;
      }

      @media only screen and (min-width: 1200px){
        width: 227px;
      }
    }

    .fd_row_4{
      height: $height;

      width: 100%;

      position: absolute;
      // top: $height + 30;
      top: 0;
      left: 200%;
      z-index: 100;

      @include transition(left $default-timing $cubic-easeing);
      padding: {
        left: 0;
        right: 0;
      }

      figure{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
      }

      .fd_text_1{
        width: 100%;
        height: $height / 2;
        background-color: $dark_gray;
        font-size: rem(10);
        color: $light_gray;
        text-transform: uppercase;
        text-align: right;
        font-weight: bold;
        padding:{
          right: 10px;
        };
        @include flexbox;
        @include justify-content(flex-end);
        @include align-items(center);
      }

      .fd_group{
        margin: 0;
        width: auto;

        .fd_input{
          height: $height;
          line-height: $height;
          border: none;
          border-right: 2px solid $light_gray + 50;
          width: 100%;

          &:valid {
            border-color: $green;
          }

          &:focus ~ .fd_label,
          &.used ~ .fd_label {
            top: -20px;
            bottom: auto;

            font-size: rem(13);
            border-radius: 0;
            color: $orange;
            padding: 0 5px;
            background-color: transparent;
          }

          &:valid ~ .fd_label,
          &:valid.used ~ .fd_label {
            background-color: transparent;
            color: $green;
          }
        }

        label.error{
          border-radius: 0;
          bottom: 0;
          margin: 0;
          padding: 1px 3px;
          border-right: 2px solid $dark_orange - 10;
        }

        .fd_label {
          height: $height;
          line-height: $height;
          top: 0;
          left: 10px;
          bottom: 0;
          color: $dark_gray;
          font-weight: 400;
          text-transform: uppercase;
        }
      }

      .fd_btn_send{
        background-color: $orange;
        color: $dark_white;
        width: 267px;
        height: $height;
        line-height: $height;
        font-weight: bold;
        position: relative;

        border-radius: 0;
        padding: 0;

        margin: 0 auto;
        display: block;

        &:after{
          content: '';
          position: absolute;

          top: 4px;
          left: 4px;
          right: 4px;
          bottom: 4px;
          border: 1px solid transparentize($dark_white, .75)
        }
      }

      @media only screen and (min-width: 768px){
        .fd_group{
          width: 50%;
          float: left;
        }

        .fd_btn_send{
          width: 50%;
          float: left;
        }
      }

      @media only screen and (min-width: 992px){

        .fd_text_1{
          height: $height;
          width: 10%;
          float: left;
        }

        .fd_group{
          width: 23.3333333333%;
          float: left;

          .fd_input{
            width: 100%;
          }
        }

        .fd_btn_send{
          float: left;
          width: 20%;
        }
      }

      @media only screen and (min-width: 1200px){

        @include flexbox;
        @include justify-content(space-around);
        @include align-items(center);
        width: 1170px;

        .fd_text_1{
          width: 171px;
          font-size: rem(12);
          height: $height;
        }

        .form-group{
          .fd_input{
            width: 100%;
          }

          &:last-of-type{
            .fd_input{
              border-right: none;
            }
          }
        }
      }
    }
  }


  .fd_header_phone{
    position: relative;
    top: calc( 100% - 120px );

    @media only screen and (min-width: 992px){
      position: absolute;
      top: auto;
      bottom: 0;
    }
  }


  /* HEADER INTERNA */
  &.fd_header_interna{
    height: 284px;
    background: {
      size: cover;
      position: top center;
      repeat: no-repeat;
    }

    .fd_header_overlay{
      padding-top: 100px;
    }

    h1{
      font-size: rem(40);
    }
  
    .fd_header_phone,
    .fd_header_mouse,
    h4,
    form{
      display: none;
    }
  }

  /* HEADER MARCAS */
  &.fd_header_marcas{
    min-height: 600px;

    background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    .container{
      padding:{
        left: 15px;
        right: 15px;
      };

      h1{
        font-size: rem(30);
        text-align: left;
        padding: 0;
        line-height: 120%;
        margin: {
          top: 50px;
          bottom: 10px;
          left: auto;
          right: auto;
        }
        width: 100%;
        max-width: 400px;
      }

      p{
        color: $dark_white;
        font-size: rem(14);
        text-align: left;
        margin: {
          left: auto;
          right: auto;
        }
        width: 100%;
        max-width: 400px;
      }


      form{
        background: transparentize($dark_white, .1);
        padding: {
          top: 60px;
          left: 20px;
          right: 20px;
          bottom: 15px;
        }
        position: relative;

        width: 100%;
        max-width: 400px;
        display: block;
        margin: {
          left: auto;
          right: auto;
        }

        .fd_form_header{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background-color: $orange;
          height: 45px;
          @include flexbox;
          @include justify-content(center);
          @include align-items(center);

          color: $white;
          font-size: rem(16);
          font-weight: bold;
        }
      }
    }

    @media only screen and (min-width: 768px){
      min-height: 100%;
      max-height: 600px;

      .container{
        h1{
          font-size: rem(40);
          max-width: 100%;
        }
        p{
          max-width: 100%;
        }
      }

    }

    @media only screen and (min-width: 992px){

      .container{
        h1{
          font-size: rem(50);
        }
      }

    }


    @media only screen and (min-width: 1200px){

      .container{
        padding: {
          left: 45px;
          right: 45px;
        }

        h1{
          font-size: rem(60px);
        }

        p{
          font-size: rem(18);
        }
      }
    }
  }
}