#mapa{
  height: 350px;
  margin-top: 90px;

  @media only screen and (min-width: 768px){
    height: 500px;
  }

  @media only screen and (min-width: 992px){
    height: 600px;
  }

  @media only screen and (min-width: 1200px){
    height: 628px;
  }
}


.gm-style-iw {
  width: $map_width;
  top: 15px !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0);
  border: 1px solid $white;
  border-radius: $map_radius;
  padding: $map_padding $map_padding*2;
}
#iw-container {
  margin-bottom: 10px;
  width: 100%;
}

.gm-style-iw p{
  font-size: rem(16);
  line-height: 145%;
  font-weight: 400;
  text-align: center;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}