
// PIXEL TO EM
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}
// PIXEL TO REM
$baseFontSize : 12;
@function rem($pixels, $context: $baseFontSize) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1rem;
}