.no-padding{
  @media only screen and (min-width: 992px){
    padding: {
      left: 0;
      right: 0;
    };
  }
}

.no-padding-left{
  @media only screen and (min-width: 992px){
    padding: {
      left: 0;
    };
  }
}

.no-padding-right{
  @media only screen and (min-width: 992px){
    padding: {
      right: 0;
    };
  }
}


.yellow{
  color: $yellow;
}

.text-big{
  font-size: 18px;
}