// TRANSITION
@mixin transition($args...){
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
// GENERIC TRANSFORM
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
// ROTATE
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
// SCALE
@mixin scale($scale) {
  @include transform(scale($scale));
}
@mixin scaleX($scale) {
  -webkit-transform: scaleX($scale);
  -ms-transform: scaleX($scale); // IE9 only
  -o-transform: scaleX($scale);
  transform: scaleX($scale);
}
@mixin scaleY($scale) {
  -webkit-transform: scaleY($scale);
  -ms-transform: scaleY($scale); // IE9 only
  -o-transform: scaleY($scale);
  transform: scaleY($scale);
}

// TRANSLATE
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
// SKEW
@mixin skew ($x: 0, $y: 0) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
// TRANSFORM ORIGIN
@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}
// BOX-SHADOW
@mixin box-shadow($args...){
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    -ms-box-shadow: $args;
    -o-box-shadow: $args;
    box-shadow: $args;
}
// GRAYSCALE
@mixin grayscale($value) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  filter:#{"grayscale(#{$value})"};
}
// FOR PLACEHOLDER INPUT STYLE
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
// PLACEHOLDER INPUT
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}


@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}