
$browser-context: 16; // Default

$source: 'Source Sans Pro', sans-serif;
$fira: 'Fira Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

$black: #000000;
$white: #ffffff;
$dark_white: #f8f6f6;
$yellow: #e8c11e;
$dark_yellow: #b68b28;
$bege: #F0F0E1;
$light_gray: #9A9A8C;
$gray: #8A8A7A;
$dark_gray: #555555;
$red: #CD1719;
$orange: #DF7837;
$dark_orange: #BA6A34;
$dark_blue: #4D6575;
$dark_blue_2: #4C6574;
$green: #85B200;



/* ANIMATIONS GRAPHICS */
$default-timing: .25s;

$cubic-easeing: cubic-bezier(0.51, 0.04, 0, 1);


/* MAP STYLE OPTIONS */
$map_width: 230px!important;
$map_radius: 8px;
$map_padding: 15px;