<script type="text/javascript" src="https://www.gstatic.com/swiffy/v7.4/runtime.js"></script>
<?php echo $this->Html->script('/js/site/assinatura_fator'); ?>
<div id="assinatura_fator_<?php echo $assinatura_fator_id ?>" style="width: 100px; height: 50px">
</div>
<script>      
  var stage = new swiffy.Stage(document.getElementById('assinatura_fator_<?php echo $assinatura_fator_id ?>'),
      swiffyobject, {});
  stage.setBackground(null);
  stage.start();
</script>