<header class="fd_header_interna" style="background-image: url(<?php echo $this->Html->Url('/assets/images/backgrounds/automotive.jpg', true) ?>)">
    <div class="fd_header_overlay">
        <h1>
            <?php echo $title ?>
        </h1>
        <h4>
            A Dimabel é uma plataforma online de consórcios que ajudará você a encontrar a melhor opção para realizar o seu sonho.
        </h4>
        <form action="">

        </form>
        <figure class="fd_header_mouse">
            <img src="<?php echo $this->Html->Url('/assets/images/icons/mouse.png', true) ?>" alt="Rolar página">
        </figure>

        <?php /* ESTE CONTEUDO ESTA PRESENTE NO HEADER */ ;?>
    </div>
</header>