.fd_contato{
  position: relative;
  padding:  0;
  background: {
    image: url('../images/mapa.jpg');
    repeat: no-repeat;
    size: cover;
    position: center center;
  }

  h2{
    color: $bege;
  }

  [class*="col-xs-"]{
    &:first-of-type{
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(row wrap);
    }

    &:last-of-type{
      .fd_form{
        max-width: 600px;
        width: 100%;

        form{
          max-width: 490px;
          width: 100%;
          display: block;
          margin: {
            left: auto;
            right: auto;
          };
        }
      }
    }

    .fd_content{
      width: 455px;
    }

    @media only screen and (min-width: 992px){
      &:first-of-type{
        @include justify-content(flex-end);
        padding-right: 70px;
      }
    }
  }
  .fd_item{
    @include box-shadow(0 0 8px transparentize($dark_gray, .5));
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(center);
    margin: 25px auto;

    figure{
      width: 100px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

      svg{
        fill: $orange;
      }
    }

    &:first-of-type{
      background-color: $white;
      height: 140px;
      width: 100%;
      max-width: 300px;

      p{
        color: $orange;
        font-size: rem(12);
        font-weight: 600;
      }

      address{
        font-size: rem(18);
        line-height: 160%;
        color: $gray;
      }

      @media only screen and (min-width: 488px){
        max-width: 455px;
      }
    }

    &:last-of-type{
      background-color: $orange;
      height: 90px;
      width: 100%;
      max-width: 300px;

      p{
        color: $white;
        font-size: rem(12);
        font-weight: 600;

        a{
          font-size: rem(30);
          font-weight: 800;
          text-decoration: none!important;
          color: $white;
        }
      }

      @media only screen and (min-width: 488px){
        max-width: 455px;

        p{
          font-size: rem(12);

          big{
            font-size: rem(40);
          }
        }
      }
    }
  }
  .fd_button_white{
    max-width: 267px;
    width: 100%;
    height: 60px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    margin: 0 auto;
    font-weight: bold;
  }

  .col-sm-6{
    &:last-of-type{
      background-color: transparentize($orange, .25);
      padding: {
        top: 25px;
        bottom: 25px;
      };
    }
  }
}