.fd_page_content{
  h2{
    color: $gray - 15;
    font-size: rem(30);
    font-weight: 200;
    font-family: $fira;

    @media only screen and (min-width: 768px){
      font-size: rem(40);
    }
    @media only screen and (min-width: 992px){
      font-size: rem(50);
      font-weight: 100;
    }
    @media only screen and (min-width: 1200px){
      font-size: rem(60);
    }
  }

  p{
    font-size: rem(18px);
    color: $gray - 15;
    line-height: 140%;

    @media only screen and (min-width: 768px){
      line-height: 180%;
    }
  }

  h3{
    color: $gray - 15;
    font-size: rem(20);
    font-weight: 200;
    font-family: $fira;

    @media only screen and (min-width: 768px){
      font-size: rem(25);
    }

    @media only screen and (min-width: 992px){
      font-size: rem(30);
    }
  }

  h5{
    font-family: $fira;
    color: $orange;
    font-weight: 900;
    font-size: rem(20);
    margin: {
      bottom: 5px;
    }

    @media only screen and (min-width: 768px){
      font-size: rem(30);
    }
  }

  .fd_hr{
    border: none;

    height: 1px;
    width: 100%;
    background-color: #CECEBF;
  }


  .fd_link{
    color: $orange;
    position: relative;
    text-decoration: none!important;

    &:after,
    &:before{
      content: '';
      position: absolute;
      bottom: -3px;
      height: 2px;
      background-color: $orange;
    }

    &:before{
      width: 100%;
      left: 0;

      @include transition(width $default-timing $cubic-easeing);
    }

    &:after{
      width: 0;
      right: 0;

      @include transition(width $default-timing $cubic-easeing);
    }

    &:hover{
      &:before{
        width: 0;
      }

      &:after{
        width: 100%;

        @include transition(width $default-timing $cubic-easeing .35s);
      }
    }
  }

  .fd_has_bg{
  }
}