.fd_header_phone{
  height: 120px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;

  .left{
    height: 40px;
    background-color: $dark_gray;
    width: 100%;
    float: none;
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);

    p{
      font-size: rem(15);
      color: $gray;
      text-transform: uppercase;
      width: 100%;
      max-width: 150px;
      margin: 0 15px;
      text-align: right;

      span{
        color: $dark_white - 50;
      }
    }
  }
  .right{
    height: 80px;
    background-color: $orange;
    width: 100%;
    float: none;
    //@include flexbox;
    //@include justify-content(flex-start);
    //@include align-items(center);

    .fd_item{
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(center);
      padding: 0 15px;
      height: 40px;
      width: 50%;
      float: left;
      border: {
        right: 1px solid $orange - 15;
        bottom: 1px solid $orange - 15;
      }


      figure{
        width: 20px;
        display: none;

        img{
          width: 100%;
        }
      }

      p{
        font-size: rem(10);
        font-weight: 600;
        color: transparentize($dark_white, .4);
        line-height: 150%;
        margin: 0;
        a{
          color: transparentize($dark_white, .4);
          text-decoration: none!important;
        }
        span{
          display: block;
        }

        strong{
          color: $dark_white;
          font-size: rem(20);

          small{
            font-size: rem(16);
          }
        }
      }
      &:nth-child(2){
        padding: 0 0 0 15px;
        overflow: hidden;
        p{
          width: 28%;
        }

        figure{
          width: 100%;
          display: block;

          img{
            height: 60px;
          }
        }
      }
      &:last-of-type{
        figure{
          width: 40px;
          height: 60px;
          position: relative;

          img{
            position: absolute;
            bottom: 8px;
          }
        }
      }

      &:last-of-type{
        border-right: none;
        width: auto;
        p{
          span{
            //margin-left: -30px;
          }
        }
      }
    }
  }


  @media only screen and (min-width: 992px){
    height: 60px;
    width: 100%;
    overflow: hidden;

    .left{
      height: 60px;
      width: 25%;
      float: left;
    }

    .right{
      height: 60px;
      width: 75%;
      float: left;

      .fd_item{
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(center);
        padding: 0 15px;
        height: 60px;

        float: left;
        border: {
          right: 1px solid $orange - 15;
          bottom: none;
        }


        figure{
          width: auto;
          display: inline-block;

          img{
            width: auto;
          }
        }

        p{
          font-size: rem(15);

          strong{
            font-size: rem(25);
            white-space: nowrap;
          }
        }
        &:first-of-type{
          width: calc( 100% / 2 - 170px);
          p{
            margin-left: 15px;
          }
        }
        &:nth-child(2){
          width: 340px;

          figure{
            width: 35%;
          }
          p{
            span{
              margin-left: 15px;
            }
          }
        }

        &:last-of-type{
          width: calc( 100% / 2 - 170px);
          p{
            span{
              margin-left: -30px;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1200px){

    .left{
      width: 33.333333333333%;
    }
    .right{
      width: 66.666666666666%;

      .fd_item{
        width: 317px;

        p{
          font-size: rem(16);

          strong{
            font-size: rem(30);
          }
        }
        &:first-of-type{
          width: 319px;
        }
        &:nth-child(2){
          width: 340px;
          p{
            span{
              margin-left: -5px;
            }
          }
        }

        &:last-of-type {
          width: calc( 100% - 340px - 319px);
          white-space: nowrap;
          p {
            span {
              margin-left: -30px;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 992px){
    &.affix{
      position: fixed!important;
      top: 0;
      left: 0;
      right: 0;
      z-index: 300;
    }
  }
}