.fd_breadcrumb{
  position: relative;
  z-index:301;
  background-color: transparent;

  >li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\00BB";
  }

  li{
    color: rgba($dark_white, .75);

    a{
      color: $dark_white;
      text-decoration: none!important;
      position: relative;
      text-transform: capitalize;

      &:after,
      &:before{
        content: '';
        position: absolute;
        bottom: -2px;
        height: 1px;
        background-color: $dark_white;
      }

      &:before{
        width: 100%;
        left: 0;

        @include transition(width $default-timing $cubic-easeing);
      }

      &:after{
        width: 0;
        right: 0;

        @include transition(width $default-timing $cubic-easeing .35s);
      }

      &:hover{
        &:before{
          width: 0;
        }

        &:after{
          width: 100%;
        }
      }
    }

    &.active{
      color: rgba($dark_white, .75);
    }
  }
}