.fd_fake_button{
  border: 2px solid $orange;
  height: 50px;
  width: 100%;
  max-width: 232px;

  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(center);
  margin: 0 auto 20px;

  figure{
    width: 70px;
    height: 50px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }

  span{
    color: $orange;
    font-size: rem(18);
    font-weight: 600;
  }
}

.fd_button_warning{
  background-color: $dark_orange;
  border-color: $dark_orange;
  color: $white;
  text-transform: uppercase;
  max-width: 146px;
  width: 100%;
  display: block;
  margin: 15px auto;
  border-radius: 0;
  font-family: $roboto;
  font-weight: 700;

  position: relative;
  @include transition(all $default-timing $cubic-easeing);

  &:after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid transparent;
    @include transition(all $default-timing $cubic-easeing);
  }

  &:focus,
  &:hover{

    color: $white;

    &:after{
      border-color: transparentize($dark_white, .85);
    }

  }
}

.fd_button_orange{
  background-color: $orange;
  border-color: $orange;
  color: $white;
  text-transform: uppercase;
  border-radius: 0;
  position: relative;

  @include transition(all $default-timing $cubic-easeing);

  &:after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid transparentize($light_gray, .85);
    @include transition(all $default-timing $cubic-easeing);
  }

  &:focus,
  &:hover{

    color: $white;

    &:after{
      border-color: transparentize($dark_white, .85);
    }
  }
}

.fd_button_white{
  background-color: $white;
  border-color: $white;
  color: $orange;
  text-transform: uppercase;
  border-radius: 0;
}