form{
  position: relative;
}

.fd_key{
  visibility: hidden;
  height: 0;
  width: 0;
  line-height:0;
  overflow: hidden;
}

.fd_group{

  $form_validate_color: #28b68b;

  position: relative;
  width: 100%;

  label{
    &.fd_label {
      font-size: rem(16);
      text-align: left;
      font-weight: bold;
      color: transparentize($dark_gray, .4);
      position: absolute;
      text-transform: uppercase;
      pointer-events: none;
      top: 10px;
      left: 15px;
      @include transition(all .2s ease-in-out);
    }

    &.fd_label_bottom{
      font-size: rem(16);
      text-align: left;
      font-weight: bold;
      color: $bege;
      position: absolute;
      text-transform: capitalize;
      pointer-events: none;
      top: 10px;
      left: 15px;
      @include transition(all .2s ease-in-out);
    }

    &.fd_label_modal{
      font-size: rem(16);
      text-align: left;
      font-weight: bold;
      position: relative;
      color: #CDCDBF;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      pointer-events: none;
      padding-right: 0;
      @include transition(all .2s ease-in-out);
    }
  }

  .fd_input{
    background-color: $bege;
    border: 1px solid $bege - 15;
    border-radius: 0;
    @include box-shadow(none!important);
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: rem(16);
    color: $dark_gray;

    @media only screen and (min-width: 768px){
      font-size: rem(16);
    }

    &:focus{
      border-color: $yellow;
    }

    &:focus ~ .fd_label,
    &.used ~ .fd_label {
      top: -10px;
      font-size: rem(13);
      border-radius: 0;
      background-color: $bege;
      padding: 0 5px;
    }

    &:valid ~ .fd_label,
    &:valid.used ~ .fd_label {
      background-color: $bege;
      color: $form_validate_color;
    }

    &:valid {
      border-color: $form_validate_color;
    }

    &.error{
      border-bottom-color: $red;
    }
  }

  textarea{
    &.fd_input{
      height: calc( 40px * 3 + 15px * 2 );
      resize: none;
      padding-top: 5px;

      &:valid {
        border-color: $form_validate_color;
      }

      &:focus ~ .fd_label,
      &.used ~ .fd_label {
        bottom: 90%;
        left: 10px;
        font-size: rem(12);
        color: $dark_yellow;
        border-radius: 2px;
      }

      &:valid ~ .fd_label,
      &:valid.used ~ .fd_label {
        background-color: transparent;
        color: $form_validate_color;
      }
    }
  }


  .fd_input_bottom{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $bege - 15;
    border-radius: 0;
    @include box-shadow(none!important);
    height: 37px;
    line-height: 37px;
    padding: 0 15px;
    font-size: rem(16);
    color: $dark_gray;

    @media only screen and (min-width: 768px){
      font-size: rem(16);
    }

    &:focus{
      border-color: $dark_orange;
    }

    &:focus ~ .fd_label_bottom,
    &.used ~ .fd_label_bottom {
      top: -10px;
      font-size: rem(13);
      border-radius: 0;
      background-color: $bege;
      padding: 0 5px;
      color: $orange;
    }

    &:valid ~ .fd_label_bottom,
    &:valid.used ~ .fd_label_bottom {
      background-color: $bege;
      color: $form_validate_color;
    }

    &:valid {
      border-color: $form_validate_color;
    }

    &.error{
      border-bottom-color: $orange;
    }
  }




  textarea{
    &.fd_input_bottom{
      height: calc( 40px * 3 + 15px * 2 );
      resize: none;
      padding-top: 5px;

      &:valid {
        border-color: $form_validate_color;
      }

      &:focus ~ .fd_label_bottom,
      &.used ~ .fd_label_bottom {
        top: -10px;
        font-size: rem(13);
        border-radius: 0;
        background-color: $bege;
        color: $orange;
        padding: 0 5px;
      }

      &:valid ~ .fd_label_bottom,
      &:valid.used ~ .fd_label_bottom {
        background-color: transparent;
        color: $form_validate_color;
      }
    }
  }

}

label.error{
  background-color: $orange;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
  font-size: rem(11);
  text-transform: uppercase;
  color: $dark_white;
  font-weight: 400;
  padding: 3px;
}

.fd_form_message{
  position: absolute;
  top: 15px;
  z-index: 90;
  margin-top: 15px;
  display: none;

  font-size: rem(16);
  font-weight: 500;
  color: $dark_yellow;

  background-color: $dark_gray;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border-radius: 8px;

}


.fd_radio {

  $color1: $orange;
  $color2: $white;

  .fd_radio_label{
    width: 100%;
    color: $dark_gray + 50;
    display: block;
    text-align: center;
    position: relative;

    span{
      font-size: rem(20);
      font-weight: 300;
      line-height: 120%;
      color: $orange;

      strong{
        color: $dark_gray + 50;
        font-weight: 800;
        text-transform: uppercase;
        font-size: rem(16);
      }
    }

    @media only screen and (min-width: 768px){
      span{
        font-size: rem(20);
      }
    }
    @media only screen and (min-width: 1200px){
      span{
        font-size: rem(30);
      }
    }
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    + .fd_radio_label {
      &:before {
        content: '';
        background: $color2;
        border-radius: 100%;
        border: 1px solid darken($color2, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 25px;
        @include transition(all $default-timing $cubic-easeing);
      }
    }

    &:checked {
      + .fd_radio_label {
        &:before {
          background-color: $color2;
          border-color: $color1;
          box-shadow: inset 0 0 0 5px $color1;
        }
      }
    }

    &:focus {
      + .fd_radio_label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }

    &:disabled {
      + .fd_radio_label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }

    + .fd_radio_label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 992px) {

    input[type="radio"] {
      + .fd_radio_label {
        &:before {
          left: 15px;
        }
      }
    }

  }

  @media only screen and (min-width: 1200px) {

    input[type="radio"] {
      + .fd_radio_label {
        &:before {
          left: 20px;
        }
      }
    }

  }
}



// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.4.1
// MIT License

$track-color: #CECEBF !default;
$thumb-color: $orange !default;

$thumb-radius: 18px !default;
$thumb-height: 18px !default;
$thumb-width: 18px !default;
$thumb-shadow-size: 0 !default;
$thumb-shadow-blur: 0 !default;
$thumb-shadow-color: transparent !default;
$thumb-border-width: 2px !default;
$thumb-border-color: $white !default;

$track-width: 100% !default;
$track-height: 4px !default;
$track-shadow-size: 0 !default;
$track-shadow-blur: 0 !default;
$track-shadow-color: transparent !default;
$track-border-width: 2px !default;
$track-border-color: transparent !default;

$track-radius: 0 !default;
$contrast: 5% !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &:after{
    content: 'R$ ' attr(data-content);
    position: absolute;
    top: 65px;
    left: 0;
    background-color: $orange;
    width: 70px;
    text-align: center;
    color: $white;
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &::-moz-range-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: 0;
  }
}