.fd_manual{
  padding: 25px 0;
  background: {
    image: url('../images/backgrounds/manual.jpg');
    repeat: no-repeat;
    size: cover;
    position: 80% 0;
  }
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 0 auto;
    background-color: transparentize($orange, .1);
    z-index: 4;
  }

  .container{
    position: relative;
    z-index: 5;

    [class*="col-"],
    [class^=" col-"]{
      position: relative;
    }
  }

  h2{
    color: $bege;
    font-size: rem(20);
  }
  p{
    font-family: $source;
    font-weight: bold;
    font-size: rem(15);
    color: $bege;
  }

  @media only screen and (min-width: 768px){
    padding: 25px 0;
    figure{
      position: absolute;
      margin-left: -15px;
      img{
        margin-bottom: -1px;
        width: 130%;
      }
    }
  }

  @media only screen and (min-width: 992px){

    figure{
      img{
        width: 150%;
      }
    }
    h2{
      font-size: rem(50);
      margin-left: -15px;
    }
    p{
      font-size: rem(25);
      line-height: 120%;
    }

    form{
      margin-top: 40px;
      margin-left: 100px;
      .fd_group{
        display: inline-block;
        float: left;
        width: 200px;

        .fd_input{
          display: inline-block;
          width: 200px;
        }
      }
      .fd_button_warning{
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin: 0;
        float: left;
      }
    }
  }

  @media only screen and (min-width: 1200px){
    h2{
      font-size: rem(80);
    }
    figure{
      img{
        width: auto;
      }
    }
  }

  label.error{
    top: -10px;
    bottom: auto;
    border-radius: 0;
    font-size: 9px;
  }
}