.fd_modal_dropback{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  background: {
    color: transparentize($white, .2);
  };

  z-index: 10000;
}

.fd_modal{

  $caixa: #1D499F;
  $itau: #F27930;
  $hs: #CD1719;

  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10001;

  min-height: 547px;
  width: 100%;
  max-width: 370px;

  transform: translate(-50%, -50%);

  background-color: transparentize($dark_white, .05);



  @include box-shadow(0 0 25px 2px transparentize($black, .3));

  .fd_modal_title{
    height: 91px;
    width: 100%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }

  &.hsc{
    .fd_modal_title{
      background-color: $hs;
    }

    .fd_modal_content{
      p{
        span{
          color: $hs!important;
        }
      }

      h6{
        strong{
          color: $hs!important;
        }
      }
    }
  }
  &.caixa{
    .fd_modal_title{
      background-color: $caixa;
    }

    .fd_modal_content{
      p{
        span{
          color: $caixa!important;
        }
      }

      h6{
        strong{
          color: $caixa!important;
        }
      }
    }
  }

  &.itau{
    .fd_modal_title{
      background-color: $itau;
    }

    .fd_modal_content{
      p{
        span{
          color: $itau!important;
        }
      }

      h6{

        strong{
          color: $itau!important;
        }
      }
    }
  }

  .fd_modal_content{
    padding: 20px 15px;

    p{
      font-family: $source;
      font-size: rem(14);
      margin-bottom: 15px;
      line-height: 120%;
      color: $dark_gray;

      span{
        font-weight: 800;
      }
    }

    h6{
      font-family: $source;
      font-size: rem(14);
      line-height: 120%;
      color: $dark_gray + 70;
      font-weight: 800;
      text-transform: uppercase;

      strong{
        font-size: rem(24);
        font-weight: 800;
      }
    }
  }


  .fd_button_orange{
    max-width: 178px;
    width: 100%;
    height: 30px;

    margin-top: 25px;

    font-weight: 600;
    font-family: $source;

    padding: {
      top: 0;
      bottom: 0;
    };

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }







  .fd_group{
    background-color: $white;
    border: 1px solid $bege - 10;
    position: relative;
    display: table;
    border-collapse: separate;

    .fd_input_modal{
      background-color: $white;

      border: {
        top: 1px solid transparent;
        left: none;
        right: 1px solid transparent;
        bottom: 1px solid transparent;
      };
      border-radius: 0;
      @include box-shadow(none!important);
      height: 37px;
      line-height: 37px;
      padding: 0 15px 0 8px;
      position: relative;
      display: table-cell;

      font-size: rem(14);
      text-align: left;
      color: $dark_gray + 100;

      @media only screen and (min-width: 768px){
        font-size: rem(16);
      }

      &:focus{
        border:none;
      }

      &:focus ~ .fd_label_modal,
      &.used ~ .fd_label_modal {
        top: -10px;
        font-size: rem(13);
        border-radius: 0;
        background-color: transparent;
        color: $dark_gray;
      }

      &:valid ~ .fd_label_modal,
      &:valid.used ~ .fd_label_modal {
        background-color: $bege;
        color: $green!important;
      }

      &:valid {

      }

      &.error{
        border-color: $orange;
      }
    }



    label {
      &.fd_label_modal {
        background-color: transparent;
        border: none;
        font-size: rem(16);
        text-align: left;
        font-weight: bold;
        color: $dark_gray + 100;
        position: relative;
        text-transform: uppercase;
        pointer-events: none;
        top: 0;
        left: 0;
        padding: {
          left: 15px;
          right: 0;
        }
        @include transition(all .2s ease-in-out);
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
      }

      &.error{
        bottom: -13px;
      }
    }
  }

  .fd_modal_close{
    position: absolute;
    top: 5px;
    right: 5px;
  }
}