
.navbar{
  &.navbar-default{
    background-color: transparent;
    border: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7778;

    width: 100%;
    max-width: 1150px;
    display: block;
    margin: 0 auto;
    height: 90px;

    @include transition(background-color $default-timing * 2 ease, top $default-timing * 2 $cubic-easeing);

    .navbar-brand{
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      height: 90px;

      @media only screen and (min-width: 576px){
        margin-top: 0;
      }
    }

    .fd_btn_menu{
      padding: 0;
      margin: 0;
      border: none!important;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent!important;
      height: 90px;
      width: 90px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(column);


      .icon-bar{
        background-color: $bege;
      }
      
      &.opened{
        z-index:9999;
        position: fixed;
      }

      @media only screen and (min-width: 925px){
        display: none;
      }
    }

    .container{
      border-bottom: 1px solid $bege;
      width: 100%;
      max-width: 1150px;
      display: block;
      margin: 0 auto;
      height: 90px;
    }

    .fd_menu{


      @media only screen and (max-width: 924px){
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        background-color: $orange;
        height: 100%;
        width: 320px;
        z-index: 8600;
        overflow-y: scroll;
        overflow-x: hidden;
        @include transition(left $default-timing * 2 $cubic-easeing);

        >ul{
          &.navbar-nav{
            margin: {
              top: 0;
              bottom: 0;
            };

            >li{
              padding: 0 15px;

              a{
                height: 60px;
                line-height: 60px;
                padding: 0 30px;
                font-weight: 700;
                text-transform: uppercase;
                color: $bege;
              }

              &.active{
                a{
                  color: $dark_yellow;
                }
              }
            }
          }
        }


        &.opened{
          left:0;
        }
      }
    }

    @media only screen and (min-width: 925px){
      $height: 90px;
      $padding: 15px;

      height: $height;
      background-color: transparent;

      ul{
        &.navbar-nav{
          margin: 0 auto;

          >li{
            >a{
              height: $height;
              width: 100%;
              text-align: center;
              font-weight: 700;
              text-transform: uppercase;
              color: $bege;
              @include flexbox;
              @include justify-content(center);
              @include align-items(center);

              @include transition(color $default-timing ease);

              &:hover,
              &:focus{
                color: $orange;
              }
            }

            &.active{
              a{
                color: $dark_yellow;
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    @media only screen and (min-width: 925px) {
      $height: 90px;
      $padding: 15px;

      height: $height;
      background-color: transparent;

      ul {
        &.navbar-nav {
          @include flexbox;
          @include justify-content(space-between);
          width: calc(100% - 392px);
        }
      }
    }

    @media only screen and (min-width: 1200px){
      ul{
        &.navbar-nav{
        }
      }
    }
  }
}


.fd_phone_item{
  font-size: rem(13);
  text-transform: uppercase;
  color: $white;
  height:90px;
  width: 192px;
  padding-top: 15px;
  position: absolute;
  top: 0;
  right: 100px;
  display: none;

  .fd_phone_item_content{
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    background-color: $orange;
    height: 38px;

    figure{
      height: 38px;
      width: 38px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      border-right: 1px solid transparentize($dark_white, .75);

      img{

      }
    }
    h5{
      font-size: rem(23);
      text-transform: uppercase;
      color: $dark_white;
      font-weight: 700;
      margin: 0 15px 0 0;
      letter-spacing: 0.5px;
    }
    a{
      color: $dark_white;
      text-decoration: none!important;
    }
  }
  @media only screen and (min-width: 580px){
    display: block;
  }

  @media only screen and (min-width: 925px){
    position: static;
  }
}

@media (min-width: 768px) and (max-width: 924px) {
  .navbar-collapse.collapse {
    display: none;
  }
  .navbar-collapse.collapse.in {
    display: block;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block;
  }
  .navbar-header {
    float: none;
  }
  .navbar-nav{
    float: none;
  }
  .navbar-nav>li {
    float: none;
    width: 100%;
  }
}


.navbar-default{
  .navbar-nav{

    .fd_has_submenu{
      background-color: transparent;

      >ul{

        background-color: $orange - 25;
        width: 100%;
        position: relative;
        opacity: 0;
        visibility: hidden;
        height: 0;
        border-bottom: 5px solid $orange - 55;

        @include transition(top $default-timing ease, opacity $default-timing ease, visibility $default-timing ease);

        >li{
          >a{
            height: 50px;
            padding: 0 15px;
            @include flexbox;
            @include justify-content(flex-start);
            @include align-items(center);
            text-decoration: none!important;

            font-weight: 700;
            color: $dark_gray;
            background-color: transparent;
            text-transform: uppercase;

            @include transition(all $default-timing ease);

            figure{
              width: 60px;
              margin-right: 15px;
              @include flexbox;
              @include justify-content(center);
              @include align-items(center);


              img{

              }
            }

            &:hover{
              background-color: $orange;
              color: $white;
            }
          }
        }
      }





      @media only screen and (min-width: 924px){
        >ul{

          background-color: $bege;
          min-width: 250px;
          position: absolute;
          opacity: 0;
          top: 140%;
          visibility: hidden;

          @include transition(top $default-timing ease, opacity $default-timing ease, visibility $default-timing ease);

          >li{
            >a{
              height: 50px;
              padding: 0 15px;
              @include flexbox;
              @include justify-content(flex-start);
              @include align-items(center);
              text-decoration: none!important;

              font-weight: 700;
              color: $dark_gray;
              background-color: transparent;
              text-transform: uppercase;

              @include transition(all $default-timing ease);

              figure{
                width: 60px;
                margin-right: 15px;
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);


                img{

                }
              }

              &:hover{
                background-color: $orange - 15;
                color: $white;
              }
            }
          }
        }
      }

      &.opened{

        >ul {
          opacity: 1;
          visibility: visible;
          height: auto;
        }

        @media only screen and (min-width: 925px){
          >ul {
            opacity: 1;
            top: 100%;
            visibility: visible;
          }
        }
      }

    }

    >.open{

      @include transition(all .25s ease);

      >a,
      >a:focus,
      >a:hover{
        color: $orange;
        background-color: transparent;
      }
    }
  }
}

.fd_logo_mobile{
  display: block!important;
  @media only screen and (min-width: 925px){
    display: none!important;
  }
}


.fd_menu_dropback{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: transparentize($black, .15);
  z-index: 8500;

  @include transition(width $default-timing ease-in-out .15s);

  &.opened{
    width: 100%;
    @include transition(width $default-timing ease-in-out);
  }
}