.fd_page_contact{
  background-color: $dark_white;
  padding: {
    top: 50px;
    bottom: 0;
  }

  p{
    font-size: rem(20);
    font-weight: 500;
    margin-bottom: 50px;
  }

  .fd_button_warning{
    width: 100%;
    max-width: 241px;
    height: 42px;
    line-height: 42px;
    padding:0;
    background-color: $orange;
    margin-top: 0;
  }

  .fd_item{
    @include box-shadow(0 0 8px transparentize($dark_gray, .5));
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(center);
    margin: 25px auto;

    p{
      margin-bottom: 0;
    }

    figure{
      width: 100px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
    }

    &:first-of-type{
      background-color: $white;
      height: 140px;
      width: 100%;
      max-width: 455px;
      padding-right: 50px;

      p{
        color: $orange;
        font-size: rem(12);
        font-weight: 700;
        line-height: normal;

      }

      figure{
        svg{
          fill: $orange;
        }
      }

      address{
        font-size: rem(14);
        line-height: 160%;
        color: $gray;
        margin-bottom: 0;
      }

      @media only screen and (min-width: 576px){
        address{
          font-size: rem(18);
        }
      }
    }

    &:nth-child(2){
      background-color: $orange;
      height: 90px;
      width: 100%;
      max-width: 455px;

      p{
        color: $white;
        font-size: rem(12);
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;

        a{
          font-size: rem(30);
          font-weight: 800;
          text-decoration: none!important;
          color: $white;
        }
      }

      @media only screen and (min-width: 1200px){
        p{

          a{
            font-size: rem(40);
          }
        }
      }
    }

    &:last-of-type{
      background-color: $green;
      height: 75px;
      width: 100%;
      max-width: 455px;

      p{
        color: rgba($white, .6);
        font-size: rem(14);
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 0;

        a{
          color: rgba($white, 1);
          font-size: rem(30);
          font-weight: 800;
          text-decoration: none!important;
        }
      }

    }
  }
}