.fd_home{

  .fd_inst{
    background-color: $bege;
    padding: {
      top: 60px;
      bottom: 90px;
    };
    width: 100%;
    overflow: hidden;

    h2{
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 30px;
    }

    .fd_flex_column{
      display: block;
    }

    @media only screen and (min-width: 992px){
      .fd_flex_column{
        @include flexbox;
      }
    }

    @media only screen and (min-width: 1200px){

      .fd_flex_column{
        @include justify-content(flex-start);

        .fd_fake_button{
          margin: 0 25px 0 0;

          &:last-of-type{
            margin: 0;
          }
        }

        figure {
          img {
            height: auto;
            width: auto;
          }
        }
      }
      .fd_fake_button{

      }
    }
  }

  .fd_flex_column{
    @include flexbox;
    @include justify-content(space-around);
    @include align-items(center);

    figure{
      margin-right: 15px;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }

  .fd_home_marcas{
    background: {
      image: url('../images/backgrounds/marcas.jpg');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    .row{
      &:first-of-type{
        margin-bottom: 50px;
      }
    }

    h2{
      color: $bege;
      margin: 0;
    }

    figure{
      img{
        width: 100%;
      }
    }

    .fd_item{
      background-color: $bege;
      color: $dark_gray;
      font-weight: 800;
      text-transform: uppercase;
      font-size: rem(13);
      width: 90px;
      height: 90px;
      float: left;
      border-radius: 90px;
      text-align: center;
      margin-right: 5px;
      margin-bottom: 20px;
      padding: 0 10px;
      white-space: normal;

      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

    }

    a.fd_item{
      background-color: $orange;
      color: $dark_white;
    }

    @media only screen and (max-width: 767px){
      .fd_item{
        &:nth-child(3n){
          margin-right: 0;
        }
      }
    }

    @media only screen and (min-width: 768px){
      padding: {
        top: 70px;
        bottom: 70px;
      };
      .fd_item{
        width: 90px;
        height: 90px;
      }
    }
    @media only screen and (min-width: 992px){
      .fd_item{
        width: 90px;
        height: 90px;
      }
    }
    @media only screen and (min-width: 1200px){
      .container{
        .fd_flex{
          @include flexbox;
          @include justify-content(flex-start);
          @include align-items(center);
        }
      }

      .fd_item{
        width: 150px;
        height: 150px;
        border-radius: 150px;
        margin-right: 25px;
        font-size: rem(16);
        padding: 0 20px;

        &:nth-child(4n){
          margin-right: 0;
        }
      }
    }
  }

  .fd_vitrine{
    position: relative;
    padding: 25px 0;
    background-color: $white;

    h2{
      text-align: center;
    }

    p{
      font-weight: bold;
      font-size: rem(15);
      color: $orange;
      text-align: center;
      width: 100%;
      max-width: 600px;
      display: block;
      margin: 0 auto 25px;
    }

    figure{
      svg{
        fill: $orange;
      }
    }

    figure.fd_img{
      margin-top: 45px;
      margin-left: 20px;
    }

    .row{
      &:last-of-type{
        h2{
          font-size: rem(40);
          text-align: left;
          margin-bottom: 5px;
        }

        p{
          text-align: left;
          line-height: 120%;
        }
      }
    }
    .fd_item{
      position: relative;
      display: block;
      text-decoration: none!important;
      border: 1px solid transparent;

      @include transition(border .5s $cubic-easeing);

      h3{
        color: $dark_gray;
        font-size: rem(20);
        font-weight: 800;
        text-align: center;
      }
      p{
        font-size: rem(35);
        color: $orange;
        font-family: $fira;
        font-weight: 200;
        text-align: center;
        line-height: 150%;

        span.fd_bold{
          color: $dark_gray + 60;
          font-weight: 700;
          text-transform: uppercase;
          display: block;
          text-align: center;
          font-size: rem(11);
          line-height: normal;
        }
      }
      figure{
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        height: 114px;
        width: 100%;

        img{
          display: block;
          max-width:100%;
          @include scale(1);
          @include transition(transform $default-timing*2 $cubic-easeing);

        }
      }

      .fd_flag{
        background-color: $orange;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: rem(14);
        letter-spacing: 1px;
        padding: 1px;

        position: absolute;
        width: 151px;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
        top: 40%;
        @include rotate(-10);
        z-index: 100;
      }

      &:hover{
        border-color: $orange;

        figure{
          img{
            @include scale(1.05);
          }
        }
      }
    }
  }

  .fd_carousel{
    position: relative;
    padding: 25px 0;

    .item{
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(row wrap);
      height: 132px;
      text-decoration: none!important;
      border-radius: 5px;

      @include transition(background-color $default-timing*2 $cubic-easeing);

      figure{
        display: block;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        height: 80px;
        margin-bottom: -40px;
      }

      img{
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      span{
        color: $light_gray;
        text-transform: uppercase;
        font-weight: 600;
        font-size: rem(12);
        display: block;
        width: 100%;
        text-align: center;
      }

      &:hover{
        background-color: $bege;
      }
    }
  }

  .fd_home_blog{
    background-color: $bege;

    padding: {
      top: 25px;
      bottom: 70px;
    }

    h2{
      margin-bottom: 0;
    }
    h5{
      color: $orange;
      font-size: rem(16);
      font-weight: bold;
      margin: {
        top: 0;
        bottom: 50px;
      }
    }

    article{
      border: 3px solid $bege - 10;
      padding: 10px 10px 60px;
      background-color: $white;
      position: relative;
      width: 100%;
      max-width: 566px;
      display: block;
      margin: 0 auto 25px;

      h3{
        font-size: rem(30);
        color: $dark_gray;
        font-weight: 100;
        font-family: $source;

        a{
          color: $dark_gray;
          text-decoration: none!important;
          @include transition(color .25s ease);
        }

        &:hover{
          a{
            color: $orange;
          }
        }
      }
      p{
        color: $gray;
        font-size: rem(16);
        line-height: 160%;
        font-weight: 400;

        a{
          color: $gray;
          text-decoration: none!important;
          @include transition(color .25s ease);
        }

        &:hover{
          a{
            color: $orange;
          }
        }
      }
      figure{
        height: 298px;
        width: 100%;
        overflow: hidden;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        img{
          display: block;
          height: 100%;
        }
      }

      .fd_button_orange{
        width: 100%;
        max-width: 146px;
        display: block;
        margin: 0 auto;
        font-weight: bold;
        font-family: $roboto;
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
      }
    }
  }
}