
.hsconsorcios{

  $color: $red;
  $dark_orange: #8C2300;

  header{
    .fd_form_header_default{

      .fd_row_1{

        .fd_text_2{

          svg{
            fill: $light_gray;
          }

          &:hover,
          &.fd_active{
            color: $color;
            svg{
              fill: $color!important;
            }
          }
        }

        .fd_text_3{

          svg{
            fill: $light_gray;
          }

          &:hover,
          &.fd_active{
            color: $color;
            svg{
              fill: $color!important;
            }
          }
        }
      }

      .fd_row_2{

        #custom-handle {
          color: $white;

          &:after{
            background-color: $color;
          }

          &:before{
            background-color: $color;
          }
        }
      }


      .fd_row_3{

        .fd_btn_next{
          background-color: $color;

          &:hover{
            background-color: $color + 30;
          }
        }
      }

      .fd_row_4{

        .fd_group{

          .fd_input{

            &:focus ~ .fd_label,
            &.used ~ .fd_label {
              color: $color;
            }
          }

          label.error{
            border-right: 2px solid $dark_orange - 10;
          }

          .fd_label {

          }
        }

        .fd_btn_send{
          background-color: $color;
        }
      }
    }
  }






  .fd_phone_item{

    .fd_phone_item_content{
      background-color: $color;
    }
  }



  .fd_header_phone{
    .right{
      background-color: $color;

      .fd_item{
        border: {
          right: 1px solid $color - 15;
          bottom: 1px solid $color - 15;
        }
      }
    }


    @media only screen and (min-width: 992px){
      .right{

        .fd_item{
          border: {
            right: 1px solid $color - 15;
          }
        }
      }
    }
  }



  .fd_home{

    .fd_home_marcas {
      a.fd_item {
        background-color: $color;
      }
    }

    .fd_vitrine{

      figure{
        svg{
          fill: $color;
        }
      }

      p{
        color: $color;
      }
      .fd_item{
        p{
          color: $color;
        }

        .fd_flag{
          background-color: $color;
        }

        &:hover{
          border-color: $color;
        }
      }
    }

    .fd_home_blog{
      h5{
        color: $color;
      }

      article{

        h3{
          &:hover{
            a{
              color: $color;
            }
          }
        }
        p{
          &:hover{
            a{
              color: $color;
            }
          }
        }

        .fd_button_orange{
          background-color: $color;
          border-color: $color;

          &:after{
            border: 1px solid transparentize($light_gray, .85);
          }

          &:focus,
          &:hover{

            color: $white;

            &:after{
              border-color: transparentize($dark_white, .85);
            }
          }
        }
      }
    }
  }

  .fd_manual{
    &:after{
      background-color: transparentize($color, .1);
    }


    .fd_button_warning{

      background-color: $dark_orange;
      border-color: $dark_orange;

      &:focus,
      &:hover{

        color: $white;

        &:after{
          border-color: transparentize($dark_white, .85);
        }
      }
    }
  }

  .fd_contato{
    .col-sm-6{
      &:last-of-type{
        background-color: transparentize($color, .15);
      }
    }

    figure{
      svg{
        fill: $color;
      }
    }

    .fd_item{
      &:first-of-type{
        p{
          color: $color;
        }
      }
      &:last-of-type{
        background-color: $color;
      }
    }

    .fd_button_white{
      color: $color;
    }
  }


  footer{
    background-color: $color - 50;

    figure{
      figcaption{
        color: transparentize($white, .25);
      }
    }
  }


  label.error {
    background-color: $color;
  }

  .fd_group{
    .fd_input_bottom{
      &.error{
        border-bottom-color: $color;
      }
    }
  }



  header{
    &.fd_header_marcas{
      .container{
        form{
          .fd_form_header{
            background-color: $color;
          }
        }
      }
    }
  }

  .fd_button_orange{
    background-color: $color;
  }

  .fd_radio{
    input[type="radio"]{
      &:checked{
        +.fd_radio_label{
          &:before{
            border-color: $color;
            box-shadow: inset 0 0 0 5px $color;
          }
        }
      }
    }

    .fd_radio_label{
      span{
        color: $color;
      }
    }
  }
}