.fd_page_institucional{
  padding: {
    bottom: 70px;
  }
  width: 100%;
  overflow: hidden;

  @media only screen and (min-width: 768px){
    padding: {
      bottom: 120px;
    }
  }

  .fd_content{
    //@include flexbox;
    //@include justify-content(flex-start);
    //@include align-items(center);

    padding-top: 20px;

    h2{
      margin-bottom: 20px;
    }

    p{
      margin-bottom: 25px;

      &:last-of-type{
        margin-bottom: 0;
      }
    }

    @media only screen and (min-width: 768px){
      padding-top: 70px;

      h2{
        margin-bottom: 40px;
      }
    }
  }

  figure{
    position: relative;
    z-index: -1;
    margin: {
      left: -15px;
      right: -15px;
    };
    img{
      height: auto;
      width: 100%;
      margin: {
        bottom: 50px;
      };
    }
    
    @media only screen and (min-width: 768px){
      img{
        height: 611px;
        width: auto;
        margin: {
          top: -60px;
        };
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px){
      img{
        margin: {
          left: -70px;
        };
      }
    }
  }
}