.fd_page_products{
  padding: {
    top: 50px;
  }

  width: 100%;
  overflow: hidden;

  .fd_flex_column{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    position: relative;

    .fd_content{
      @media only screen and (min-width: 1200px){
        position: relative;
        z-index: 500;
        left: 15px;
        right: 15px;
      }
    }
  }

  .row{
    margin-bottom: 25px;

    .col-xs-12{
      margin-bottom: 25px;
      position: relative;

      h2{
        margin-bottom: 25px;
      }

      p{
        margin-bottom: 30px;
      }

      figure{
        position: relative;
        z-index: -1;

        img{

        }
      }

      .fd_button_orange{
        height: 54px;
        line-height: 54px;
        padding: 0 15px;
      }
    }

    &:nth-child(2n+1){
      .col-xs-12{
        figure{
          margin: {
            top: 25px;
            right: -15px;
          };
          img{
          }
        }
      }
    }

    &:nth-child(2n){
      .col-xs-12{
        figure{
          margin: {
            top: 25px;
            left: 0;
          };
          img{
            float: right;
          }
        }
      }
    }
  }

  .fd_button_orange{
    img{
      margin-right: 15px;
    }
  }

  @media only screen and (min-width: 576px) and (max-width: 768px){
    .row{
      &:nth-child(2n+1){
        .col-xs-12{
          figure{
            margin: {
              top: 25px;
              right: -15px;
            };
            img{
              display: block;
              max-width: 100%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 768px){
    .row{
      &:nth-child(2n){
        [class*="col-xs-"]{
          margin-top: -200px;
        }
      }
    }
  }

  @media only screen and (min-width: 992px){
    .row{
      &:nth-child(2n+1){
        .col-xs-12{
          figure{
            margin: {
              top: 25px;
              right: -15px;
            };
            img{
              height: auto;
            }
          }
        }
      }
      &:nth-child(2n){
        text-align: right;
      }
    }
  }

  @media only screen and (min-width: 1200px){
    .row{

      &:nth-child(2n){
        [class*="col-xs-"]{
          margin-top: -200px;
        }

      }


      .col-xs-12{
        position: relative;

        figure{
          img{
            height: auto;
          }
        }
      }
    }
  }
}