.fd_page_products_type{
  background-color: $dark_white;

  .container{
    position: relative;
    padding-top: 100px;

    .fd_product_brand{
      position: absolute;
      left: 0;
      top: -80px;
      z-index: 8000;

      background-color: $dark_white;
      border-radius: 8px;
      padding: 15px;

      height: 130px;
      width: 181px;

      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(column);
    }

    .fd_item {
      position: relative;
      background-color: $white;
      @include box-shadow(0 0 25px rgba($dark_gray, .25));
      padding: {
        top: 5px;
        left: 12px;
        right: 12px;
        bottom: 10px;
      }
      margin: {
        bottom: 50px;
      }


      h3 {
        color: $dark_gray;
        font-weight: 800;
        text-align: center;
        font-size: rem(16);
      }

      .fd_radio {
        border-bottom: 1px solid $dark_white - 10;
        padding-bottom: 5px;
      }

      .fd_button_orange {
        width: 100%;
        font-weight: bold;
        margin-top: 40px;
      }


      &.fd_has_flag{
        padding-top: 25px;
        margin-top: -25px;
        @include box-shadow(0 0 25px rgba($dark_gray, .45));


        &:after{
          content: url('../images/icons/flag-product.png');
          position: absolute;
          height: 65px;
          width: 99px;
          top: -2px;
          left: -2px;
        }

        .fd_button_orange{
          margin-top: 75px;
        }
      }
    }
  }

  @media only screen and (min-width: 1200px){
    .container{
      .fd_item{
        h3{
          font-size: rem(18);
        }

        figure{
          height: 107px;

          @include flexbox;
          @include justify-content(center);
          @include align-items(center);
        }
      }
    }
  }
}