.fd_page_simulation{
  background-color: $bege;
  padding: {
    top: 50px;
    bottom: 70px;
  }

  .container.fd_options{
    margin-top: 70px;
  }

  h2{
    strong{
      font-weight: 400;
    }
    span{
      color: $orange;
      font-weight: 900;

      small{
        color: $orange;
        font-size: rem(30);
        font-weight: 900;
      }
    }
  }

  .fd_item {

    $height: 62px;

    background-color: $white;
    margin-bottom: 25px;
    padding: 0 0 15px;
    @include box-shadow(0 0 30px transparentize($dark_gray, .85));

    .fd_button_warning {
      background: $orange + 15;
      margin-bottom: 0;
      width: 100%;
      max-width: 90%;
      height: 40px;
      line-height: 40px;
      padding: 0;
    }

    .fd_item_topo {

      $caixa: #1D499F;
      $itau: #F27930;
      $hs: #CD1719;


      height: $height;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(column);

      &.caixa {
        background-color: $caixa;
      }
      &.itau {
        background-color: $itau;
      }
      &.hsconsorcios,
      &.hs-consorcios,
      &.hs {
        background-color: $hs;
      }
    }

    .fd_radio {
      height: 60px;

      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(column);

      cursor: pointer;

      position: relative;
      overflow: hidden;
      padding: 0 10px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: 2px;
        width: 90%;
        background-color: transparentize($bege - 50, .85);

        display: block;
        margin: 0 auto;
      }

      .fd_radio_label {
        margin-top: - 15px;
        cursor: pointer;
      }

      @media only screen and (min-width: 768px) {
        height: 80px;
      }
      @media only screen and (min-width: 992px) {
        height: 100px;
      }
    }

    &.has-flag {
      @include box-shadow(0 0 20px 2px transparentize($dark_gray, .65));
      position: relative;

      .fd_item_topo{
        padding: {
          top: 10px;
        }

        height: $height*2;

        h4{
          color: $white;
          font-size: rem(16);
          font-family: $fira;
          text-transform: uppercase;
          margin-bottom: 5px;
          font-weight: 300;

          strong{
            font-weight: 800;
          }
        }
        p{
          color: $white;
          font-size: rem(14);
          max-width: 237px;
          width: 100%;
          margin: 0 auto;
          line-height: 120%;
          text-align: center;
        }
      }


      &:after{
        content: url('../images/icons/flag.png');
        height:70px;
        width: 105px;
        position: absolute;
        top: -2px;
        left: -2px;
      }

      @media only screen and (min-width: 992px){
        .fd_item_topo{
          margin-top: calc(-#{$height / 2});

          h4{
            font-size: rem(18);
          }
        }
      }
    }
  }
}