a {
    outline: 0;
}
:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.clear {
    clear: both;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: normal;
    line-height: 120%;
    margin: 0 0 20px;
    text-transform: uppercase;
}

h1 span {
    display: block;
    font-size: 28px;
    font-weight: 300;
    line-height: 120%;
}

h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}

h2.azul,
h2 span {
    color: #22a6a6;
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 10px;
    text-transform: uppercase;
}


h2.custom {
	font-weight: normal;
	font-size: 40px;
	margin: 0 0 20px;
}

h3 {
    color: #ffffff;
    font-size: 23px;
    font-weight: normal;
    line-height: 120%;
}

h3 span {
    color: #1e8185;
    display: block;
    font-size: 19px;
    font-weight: 300;
}

hr.padrao {
    background: none repeat scroll 0 0 #23a8a9;
    border: medium none;
    height: 1px;
    margin: 0 0 20px;
    width: 104px;
}

div.padrao {
    background: #23a8a9;
    width: 100px;
    height: 1px;
}

a.botao, a.botao-acesse-o-site, input[type="submit"] {
    border: 1px solid #23a9a9;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
}

a.botao:hover, a.botao-acesse-o-site, input[type="submit"]:hover {
    background: none repeat scroll 0 0 #1e8185;
    text-decoration: none;
    color: #fff;
}

a.botao img {
    margin: 0 15px 0 0;
    vertical-align: text-bottom;
}

p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    line-height: 160%;
}

p.aviso {
    font-size: 14px;
}

.fullsize-images {
    max-height: 1500px;
    min-width: 100%;
}

form label {
    color: #ffffff;
    display: block;
    font-weight: normal;
    margin: 0 0 5px;
    text-transform: uppercase;
}

label.error {
    display: none !important; 
}

input.error, 
textarea.error {
    background: #FF6666 !important;
    border: 1px solid #FF6666 !important;
    color: #ffffff;
}

p.errors {
    background: none repeat scroll 0 0 #23a9a9;
    color: #fff;
    display: none;
    font-size: 12px;
    margin: 0 0 10px;
    padding: 10px;
}

header nav ul,
section.banner ul,
section.quem-somos .redes-sociais ul,
section.publicacoes-noticias ul.listagem,
.menu-mobile ul,
.listagem-categorias ul {
    margin: 0;
    padding: 0;
}

.listagem-categorias ul {
    margin: 0 0 20px;
    float: left;
    width: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

header {
    background: none repeat scroll 0 0 rgba(3, 30, 58, 0.7);
    padding: 40px 0;
    position: fixed;
    width: 100%;
    z-index: 900;
}

header .idiomas {
    margin: -40px 0 0;
    position: relative;
    z-index: 99;
}

header .idiomas a {
    color: #f3f3f3;
    float: left;
    font-family: Arial;
    font-size: 10px;
    line-height: 100%;
    padding: 15px 10px;
}

header .idiomas a.pt {
    background: none repeat scroll 0 0 #063d73;
}

header .idiomas a.en {
    background: none repeat scroll 0 0 #05315C;
}

header .idiomas a.es {
    background: none repeat scroll 0 0 #04284D;
}

header .idiomas a:hover, header .idiomas a.selecionado {
    background: none repeat scroll 0 0 #0C76E0;
    text-decoration: none;
}

header nav {
    /* margin: 15px 0 0; */
}

header nav li {
    border-right: 1px solid #ffffff;
    float: left;
    list-style: none outside none;
    padding: 0 10px;
}

header nav li:last-child {
	border: none;
	padding: 0 0 0 10px;
}

header nav a {
    color: #ffffff;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 13px;
}

header nav a:hover {
	color: #ffffff;
	text-decoration: underline;
}

header button.menu-mobile-btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: right;
    margin: 12px 0 0;
    padding: 0;
}

header button.menu-mobile-btn span {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    display: block;
    height: 4px;
    margin: 0 0 4px;
    width: 40px;
}

header button.menu-mobile-btn .menu-label {
    color: #fff;
    float: left;
    margin: 0 0 0 -50px;
}

header .menu-mobile {
    display: none;
    margin: 20px 0 0;
}

header .menu-mobile li {
    border-bottom: 1px solid #22a6a6;
    list-style: none outside none;
}

header .menu-mobile li:last-child {
    border: none;
}

header .menu-mobile a {
    color: #fff;
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
}

section.banner {
    overflow: hidden;
    position: relative;
    z-index: 100;
}

section.banner img.logo-scalzilli-banner {
    left: 50%;
    margin: -110.5px 0 0 -246.5px;
    position: absolute;
    top: 50%;
    z-index: 200;
}

section.banner li {
    height: 730px;
    width: 100%;
    list-style: none;
}

section.banner li.banner-1 {
    background: url("../../img/site/slide-01.jpg") no-repeat top center transparent;
}

section.banner li.banner-2 {
    background: url("../../img/site/slide-02.jpg") no-repeat top center transparent;
}

section.banner li.banner-3 {
    background: url("../../img/site/slide-03.jpg") no-repeat top center transparent;
}

section.banner li.banner-4 {
    background: url("../../img/site/slide-04.jpg") no-repeat top center transparent;
}

section.banner .owl-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 5px;
}

section.banner .owl-buttons .owl-next, section.banner .owl-buttons .owl-prev {
    width: 43px;
    height: 54px;
    position: absolute;
    top: -55px
}

section.banner .owl-buttons .owl-next {
    right: 0;
}

section.banner .owl-buttons .owl-prev {
    right: 50px;
}

section.quem-somos {
    background: none repeat scroll 0 0 #031e3a;
    padding: 50px 0;
    width: 100%;
}

section.quem-somos p {
    color: #ffffff;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 20px;
}

section.quem-somos .redes-sociais {
    margin: 20px 0 0;
}

section.quem-somos .redes-sociais li {
    float: left;
    list-style: none outside none;
    margin: 0 7px 0 0;
    opacity: 0.8;
}

section.quem-somos .redes-sociais li:hover {
    opacity: 1;   
}

section.quem-somos .listagem-profissionais {
	clear: both;
}

section.quem-somos figure {
    overflow: hidden;
    position: relative;
    margin: 0 0 15px;
}

section.quem-somos figure img.grayscale, section.diretoria figure img.grayscale, section.profissionais figure img.grayscale { 
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .3s ease;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

section.quem-somos figure img.grayscale:hover, section.diretoria figure img.grayscale:hover, section.profissionais figure img.grayscale:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

section.quem-somos figcaption {
    bottom: 0;
	width: 100%;
	padding: 10px;
	position: absolute;
	background: #0F0F1E;
	display: none;
    z-index: 200;
}

section.quem-somos figcaption span.nome {
	display: block;
	line-height: 160%;
	color: #FFFFFF;
	text-transform: uppercase;
}

section.quem-somos figcaption span.funcao {
	display: block;
	font-weight: 300;
	font-size: 12px;
	color: #FFFFFF;
}

section.escritorios {
    background: url("../../img/site/bg-escritorios.jpg") no-repeat scroll center top transparent;
    height: 285px;
    padding: 20px 0;
    width: 100%;
}

section.escritorios h3 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 100;
    margin: 140px 0 0;
    text-transform: uppercase;
}

section.areas-atuacao {
    background: none repeat scroll 0 0 #0f0f1e;
    padding: 50px 0 60px;
}

section.areas-atuacao hr.padrao {
    margin: 30px auto 60px;
}

section.areas-atuacao .areas-carrosel {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 4px solid #0f0f1e;
    margin: 0 0 40px;
    position: relative;
}

section.areas-atuacao .areas-carrosel .owl-buttons div {
    position: absolute;
    margin: -23px 0 0;
    top: 40%;
}

section.areas-atuacao .areas-carrosel .owl-buttons div.owl-prev {
    left: -50px;
}

section.areas-atuacao .areas-carrosel .owl-buttons div.owl-next {
    right: -50px;
}

section.areas-atuacao .areas-carrosel img.seta-carrosel {
    margin: 90px 0 0;
    opacity: 0.7;
}

section.areas-atuacao .areas-carrosel img.seta-carrosel:hover {
    opacity: 1;
}

section.scalzilli-corporate {
    /* background: url("../../img/site/bg-rede-scalzilli-brasil.jpg") no-repeat scroll top center transparent; */
    background: url("../../img/site/sobre-bg.jpg") top center no-repeat;
    height: 600px;
    padding: 70px 0;
    width: 100%;
}

section.scalzilli-corporate .retangulo {
    background: url("../../img/site/retangulo.png") no-repeat scroll 0 0 transparent;
    padding: 30px 60px 30px 30px;
    width: 606px;
}

section.scalzilli-corporate .retangulo img {
    margin: 0 0 20px;
}

section.scalzilli-corporate .retangulo p {
    color: #011e39;
    font-size: 14px;
    line-height: 160%;
}

section.scalzilli-corporate a.botao {
    border: 2px solid #ffffff;
    color: #ffffff;
    float: right;
    background: #22a6a6;
}

section.publicacoes-noticias {
    background: none repeat scroll 0 0 #031e3a;
    padding: 50px 0;
    width: 100%;
}

section.publicacoes-noticias h2 {
    /* font-size: 46px; */
    font-size: 26px;
    margin: 0 0 15px;
}

section.publicacoes-noticias li {
    list-style: none outside none;
    margin: 0 0 30px;
}

section.publicacoes-noticias li a {
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    margin: 0 0 10px;
}

section.publicacoes-noticias .outra-area {
    margin-top: 40px;
}

section.publicacoes-noticias .publicacoes-midia {
    background: none repeat scroll 0 0 #02162b;
    padding: 15px;
    margin: 0 0 20px;
}

section.publicacoes-noticias .publicacoes-midia span.data {
    color: #23a8a9;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 120%;
    margin: 0 0 5px;
}

section.publicacoes-noticias .publicacoes-midia span.fonte {
    color: #ffffff;
    display: block;
    font-size: 12px;
    margin: 0 0 20px;
}

section.publicacoes-noticias .publicacoes-midia p {
    margin: 0;
}

section.publicacoes-noticias .publicacoes-midia a {
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    line-height: 120%;
}

section.publicacoes-noticias .newsletter {
    background: none repeat scroll 0 0 #02162b;
    padding: 15px 20px;
}

section.publicacoes-noticias .newsletter h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 10px;
    text-transform: uppercase;
}

section.publicacoes-noticias .newsletter hr.padrao {
    margin: 0 0 10px;
}

section.publicacoes-noticias .assinar-newsletter {
    background: #ffffff;
    padding: 20px;
    opacity: 0;
}

section.publicacoes-noticias .assinar-newsletter form#newsletter input[type="text"] {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #23a8a9;
    color: #01152b;
    height: 28px;
    margin: 0 0 15px;
    padding: 0 10px;
    width: 100%;
}

.customselect {
    background: url("../../img/site/bg-custom-select.jpg") no-repeat scroll right center #eeeeee;
    border: 1px solid #23a8a9;
    height: 28px;
    margin: 0 0 15px;
    padding: 2px 5px;
    width: 100%;
}

.customselect2 {
    background: url("../../img/site/bg-custom-select.jpg") no-repeat scroll right center #FFFFFF;
    border: 1px solid #999999;
    font-size: 13px;
    height: 28px;
    margin: 0 0 10px;
    padding: 2px 5px;
    width: 100%;
}

.customselect3 {
    background: url("../../img/site/bg-custom-select.jpg") no-repeat scroll right center transparent;
    border: 1px solid #23a8a8;
    font-size: 13px;
    height: 28px;
    margin: 0 0 10px;
    padding: 2px 5px;
    width: 100%;
}

.customselect3Inner {
    color: #fff;
}

section.publicacoes-noticias .assinar-newsletter form#newsletter input[type="submit"] {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #23a9a9;
    color: #0f0f1e;
    float: right;
    font-weight: 600;
    height: 40px;
    padding: 0 20px;
}

section.publicacoes-noticias .assinar-newsletter form#newsletter input[type="submit"]:hover {
    background: none repeat scroll 0 0 #23a9a9;
    color: #ffffff;
}

section.consultas {
    background: none repeat scroll 0 0 #0f0f1e;
    padding: 50px 0;
}

section.consultas h2 {
    font-size: 48px;
    margin: 0 0 25px;
}

section.consultas hr.padrao {
    margin: 0 auto 40px;
}

section.consultas a.botao.custom {
    border: 2px solid #23a9a9;
    height: 68px;
    padding: 18px 30px;
    /* width: 220px; */
}

section.consultas a.botao.custom img {
    float: left;
    margin: 0 0 0 10px;
}

section.consultas a.botao.custom span.texto {
    float: left;
    font-weight: 600;
    line-height: 120%;
    margin: -3px 0 0 15px;
    text-align: left;
}

section.consultas a.botao.custom.unique span.texto {
    margin: 5px 0 0 15px;
}

section.consultas .ultilidades {
    clear: both;
    overflow: hidden;
    padding: 50px 0 0;
}

section.consultas .ultilidades h3 {
    color: #1e8185;
    font-weight: 300;
    line-height: 120%;
    margin: 10px 0;
}

section.consultas .ultilidades p {
    margin: 0 0 20px;
}

footer {
    background: none repeat scroll 0 0 #031e3a;
    padding: 30px 0;
}

footer nav {
    margin: 0 0 20px;
}

footer nav a {
    border-right: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
    text-transform: uppercase;
}

footer nav a.no-border {
    border: none;
}

footer nav a:hover {
    color: #ffffff;
}

footer .redes-sociais {
    margin: 0 0 20px;
}

footer .redes-sociais a {
    margin: 0 3px;
}

footer .redes-sociais a:hover {
    text-decoration: none;
}

footer .redes-sociais img {
    opacity: 0.8;
}

footer .redes-sociais img:hover {
    opacity: 1;
}

footer .rodape {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 160%;
}

footer .rodape img.logo-rodape {
    margin: 0 10px 0 0;
}

footer .rodape a {
    color: #ffffff;
    text-decoration: underline;
}

footer .rodape img.logo-fator {
    margin: 0 0 0 10px;
}

section.topo {
    height: 459px;
    position: relative;
    width: 100%;
}

section.topo span {
    color: #fff;
    font-size: 42px;
    /* font-weight: 300; */
    position: absolute;
    bottom: 75px;
}

section.topo h1 {
    font-size: 75px;
    margin: 250px 0 0;
}

section.topo.contato {
    background: url("../../img/site/header-contato.jpg") no-repeat scroll center center #ffffff;
}

section.topo.noticias {
    background: url("../../img/site/noticias-bg.jpg") no-repeat scroll center center #ffffff;
}

section.topo.areas-atuacao {
    background: url("../../img/site/area-atuacao-bg.jpg") no-repeat scroll center center #ffffff;
}

section.topo.publicacoes {
    background: url("../../img/site/publicacoes-bg.jpg") no-repeat scroll center center #ffffff;
}

section.topo.consulte-processo {
    background: url("../../img/site/consulte-processo-bg.jpg") no-repeat scroll center center #ffffff;
}

section.fale-conosco {
    background: url("../../img/site/fale-conosco-bg.jpg") no-repeat scroll right top #0a1529;
    padding: 40px 0;
}

section.fale-conosco .endereco {
    color: #ffffff;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 10px;
}

section.fale-conosco form#contato input[type="text"],
section.trabalhe-conosco form#trabalhe-conosco input[type="text"],
section.fale-conosco form#contato textarea,
section.trabalhe-conosco form#trabalhe-conosco textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #23a8a8;
    color: #ffffff;
    font-size: 13px;
    height: 36px;
    margin: 0 0 10px;
    padding: 0 10px;
    width: 100%;
}

section.fale-conosco form#contato textarea,
section.trabalhe-conosco form#trabalhe-conosco textarea {
    height: 90px;
    padding: 5px 10px;
    resize: none;
}

section.fale-conosco form#contato input[type="submit"],
section.trabalhe-conosco form#trabalhe-conosco input[type="submit"] {
    background: none;
    border: 1px solid #23a9a9;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
}

section.fale-conosco form#contato input[type="submit"]:hover,
section.trabalhe-conosco form#trabalhe-conosco input[type="submit"]:hover {
    background: #23a9a9;
}

section.cinza {
    background: none repeat scroll 0 0 #eeeeee;
    padding: 40px 0;
}

section.sobre {
    background: url("../../img/site/sobre-bg.jpg") top center no-repeat;
    padding: 40px 0;
}

section.sobre p.azul {
    color: #21A5A6;
    padding: 25px 0;
}

section.sobre .perfil-institucional {
    background-image: url(../../img/site/perfil-institucional-ico.png);
    background-position: 30px 15px;
    background-repeat: no-repeat;
    border: 2px #23A9A9 solid;
    padding: 20px 30px 20px 70px;
    color: #fff;
}

section.sobre .perfil-institucional img {
    padding: 0 20px 0 0;
}

section.missao {
    background: url("../../img/site/missao-bg.jpg") top center no-repeat;
    padding: 40px 0;
}

section.missao h2 {
    color: #0E0E1E;
}

section.missao hr.padrao {
    margin: 0 0 0 165px;
}

section.missao .owl-buttons {
    width: 90px;
}

section.missao .owl-prev, section.missao .owl-next {
    width: 36px;
    height: 36px;
}

section.missao .owl-wrapper-outer {
    margin: 20px 0;
}

section.diretoria {
    background: #0F0F1E;
    padding: 40px 0;
}

section.diretoria figure, section.profissionais figure {
    border-bottom: 4px #22A6A7 solid;
    margin: 0 0 25px 0;
}

section.diretoria img {
    max-width: 100%;
    max-height: 100%;
}

section.diretoria h2, section.diretoria h2 span.azul {
    text-transform: none;
}

section.diretoria .area-atuacao {
    color: #1F9D9F;
}

section.etica-sustentabilidade-responsabilidade-social {
    background: #031E3A;
    padding: 40px 0;
}

section.etica-sustentabilidade-responsabilidade-social h2 {
    font-size: 45px;
}

section.etica-sustentabilidade-responsabilidade-social h2, section.etica-sustentabilidade-responsabilidade-social h2 span.azul {
    text-transform: none;
}

.etica-sustentabilidade-carrosel img, .responsabilidade-social-carrosel img {
    width: 100%;
    min-width: 100%;
}

.etica-sustentabilidade-carrosel .owl-item, .responsabilidade-social-carrosel .owl-item {
    border-bottom: 4px #22A6A7 solid;
    position: relative;
}

.etica-sustentabilidade-carrosel .owl-item .legenda, .responsabilidade-social-carrosel .owl-item .legenda {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    padding: 20px;
}

section.etica-sustentabilidade-responsabilidade-social .owl-buttons {
    width: 58px;
    margin: 3px 0 0 0;
}

section.scalzilli-corporate-texto {
    background: #fff;
    padding: 40px 0;
}

section.scalzilli-corporate-texto h3 {
    color: #00334B;
}

section.scalzilli-corporate-texto h4 {
    margin-top: 28px;
    margin-bottom: 5px;
    color: #008171;
    font-size: 13px;
}

section.scalzilli-corporate-texto p {
    color: #333;
}

section.scalzilli-corporate-texto .logo {
    width: 188px;
    min-width: 188px;
}

section.scalzilli-corporate-texto .bloco-2 h3 {
    margin-top: 0;
}

section.scalzilli-corporate-texto .espaco-logo {
    padding-bottom: 30px;
}

section.scalzilli-corporate-texto .espaco-email {
    padding-top: 30px;
}

section.scalzilli-corporate-texto .espaco-email img {
    margin-left: 30px;
    margin-right: 20px;
}

section.scalzilli-corporate-texto .espaco-email p {
    margin: 0;
}

section.scalzilli-corporate-texto .espaco-email p strong {
    color: #018173;
}

section.direito-empresarial-corporativo {
    background: url("../../img/site/direito-empresarial-corporativo-bg.jpg") top center no-repeat;
    padding: 40px 0;
}

section.direito-empresarial-corporativo a, section.recuperacao-judicial a, section.trabalhista-gestao-rh a, section.direito-internacional a, section.direito-eletronico a {
    font-size: 11px;
    color: #fff;
}

section.direito-empresarial-corporativo a span, section.recuperacao-judicial a span, section.trabalhista-gestao-rh a span, section.direito-internacional a span, section.direito-eletronico a span {
    min-width: 100%;
    min-height: 95px;
    width: 100%;
    height: 95px;
    border: 2px #23A9A9 solid;
    padding: 20px;
    margin: 0 0 15px 0;
}

section.recuperacao-judicial {
    background: #031E3A;
    padding: 40px 0;
}

section.tributario-societario {
    background: #EEEEEE url("../../img/site/societario-bg.jpg") top center no-repeat;
    padding: 40px 0;
}

section.tributario-societario h2, section.tributario-societario p {
    color: #0F0F1E;
}

section.tributario-societario a {
    font-size: 12px;
    color: #0F0F1E;
}

section.tributario-societario a span {
    min-width: 100%;
    min-height: 95px;
    width: 100%;
    height: 95px;
    border: 2px #23A9A9 solid;
    padding: 20px;
    margin: 0 0 15px 0;
}

section.trabalhista-gestao-rh {
    background: #0F0F1E;
    padding: 40px 0;
}

section.direito-internacional {
    background: #031E3A url("../../img/site/direito-internacional-bg.jpg") top center no-repeat;
    padding: 40px 0;
}

section.energia-infraestrutura-meio-ambiente {
    background: #EEEEEE;
    padding: 40px 0;
}

section.energia-infraestrutura-meio-ambiente h2, section.energia-infraestrutura-meio-ambiente p {
    color: #0E0E1E;
}
section.energia-infraestrutura-meio-ambiente a {
    font-size: 12px;
    color: #0F0F1E;
}

section.energia-infraestrutura-meio-ambiente a span {
    min-width: 100%;
    width: 100%;
    border: 2px #23A9A9 solid;
    padding: 20px;
    margin: 0 0 15px 0;
}

section.direito-eletronico {
    background: #10101F url("../../img/site/direito-eletronico-bg.jpg") top center no-repeat;
    padding: 40px 0;
}

section.direito-sindical {
    background: #EEEEEE;
    padding: 40px 0;
}

section.direito-sindical h2 {
    font-size: 45px;
}

section.processos {
    padding: 100px 0 40px 0;
    background-image: url("../../img/site/processos-bg.jpg");
    background-position: top left;
    background-repeat: repeat-x;
}

section.processos h3, section.processos h4 {
    font-size: 17px;
    color: #1E9294;
    margin-top: 40px;
    margin-bottom: 0;
}

section.processos h4 {
    color: #05315C;
}

section.processos img {
    margin: 0 20px 0 0;
}

section.processos form#pesquisa input[type="text"] {
    width: 245px;
}

.no-height {
    min-height: inherit !important;
    height: auto !important;
}

.listagem-categorias li {
    background: none repeat scroll 0 0 #e5e5e5;
    list-style: none outside none;
    margin: 0 0 5px;
    padding: 10px 15px;
}


.listagem-categorias.areas-atuacao li {
    margin: 0 0 3px;
    position: relative;
    width: 100%;
    float: left;
    padding: 0;
    background: #F5F5F5;
}

.listagem-categorias.areas-atuacao li a {
    color: #04142A;
    text-decoration: none;
    width: 100%;
    float: left;
    padding: 10px 15px;
    background-position: 225px center !important;
}

.listagem-categorias.areas-atuacao li a.seta {
    background: url("../../img/site/setas-areas-atuacao-down.png") right center no-repeat;
    /* width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 9px 0 9px;
    border-color: #bbbbbb transparent transparent transparent;
    float: right; */
}

.listagem-categorias.areas-atuacao li.ativo {
    background: #22A7A9;
}

.listagem-categorias.areas-atuacao li.ativo > a {
    background: #22A7A9 url("../../img/site/setas-areas-atuacao-up.png") right center no-repeat;
    color: #fff;
}

.listagem-categorias.areas-atuacao li.titulo {
    background: #031E3A;
    color: #fff;
    padding: 10px 15px;
}

.listagem-categorias.areas-atuacao li.titulo span {
    color: #21A6A9;
    width: 100%;
    float: left;
}

.listagem-categorias.areas-atuacao ul ul {
    float: left;
    margin: 0;
    background: #e5e5e5;
}

.listagem-categorias.areas-atuacao ul ul li {
    border-top: 3px #eeeeee solid;
    background: #AAAAAA;
    margin: 0;
}

.listagem-categorias.areas-atuacao ul ul li a {
    color: #031E3A;
}

.listagem-categorias.noticias li a {
    color: #04142A;
}

.listagem-categorias.publicacoes li a {
    color: #05315C;
}

.listagem-categorias.noticias li.selecao-atual {
    background: none repeat scroll 0 0 #05315C;
    position: relative;
}

.listagem-categorias.noticias li.selecao-atual .seta {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 15px;
    border-color: transparent transparent transparent #05315C;
    position: absolute;
    right: -15px;
    top: 0;
}

.listagem-categorias.publicacoes li.selecao-atual {
    background: none repeat scroll 0 0 #05315C;
    position: relative;
}

.listagem-categorias.publicacoes li.selecao-atual .seta {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 15px;
    border-color: transparent transparent transparent #05315c;
    position: absolute;
    right: -15px;
    top: 0;
}

.listagem-categorias.noticias li.selecao-atual a,
.listagem-categorias.publicacoes li.selecao-atual a {
    color: #ffffff;
}

.interna-newsletter {
    background: none repeat scroll 0 0 #ffffff;
    overflow: hidden;
    padding: 15px;
}

.interna-newsletter h2 {
    color: #02162b;
    font-size: 22px;
    margin: 0 0 10px;
}

.interna-newsletter form#newsletter input[type="text"] {
    border: 1px solid #999999;
    font-size: 13px;
    height: 28px;
    margin: 0 0 10px;
    padding: 0 10px;
    width: 100%;
}

.interna-newsletter form#newsletter input[type="submit"] {
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #23a9a9;
    color: #05315b;
    padding: 5px 15px;
}

.interna-newsletter form#newsletter input[type="submit"]:hover {
    background: none repeat scroll 0 0 #23a9a9;
    color: #ffffff;
}

.rastros {
    color: #868686;
    font-size: 13px;
    margin: 0 0 25px;
}

.rastros.noticias a {
    color: #011E39;
}

.rastros.publicacoes a {
    color: #05315B;
}

h2.no-uppercase {
    font-size: 40px;
    text-transform: none;
}

h2.no-uppercase.noticias {
    color: #011E39;
}

h2.no-uppercase.publicacoes {
    color: #021E39;
}

hr.grande {
    background: none repeat scroll 0 0 #dddddd;
    border: medium none;
    height: 1px;
    margin: 20px 0;
    width: 100%;
}

.postagem {
    padding: 20px;
}

.postagem.fundo {
    background: #ffffff;
}

.postagem span.data {
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    margin: 0 0 5px;
    padding: 5px 10px;
}

.postagem.noticia span.data {
    background: #22A7A9;
}

.postagem.publicacao span.data {
    background: #074889;
}

.postagem a.titulo-postagem {
    display: inline-block;
    font-size: 20px;
    line-height: 130%;
    margin: 0 0 10px;
}

.postagem.noticia a.titulo-postagem {
    color: #04264C;
}

.postagem.publicacao a.titulo-postagem {
    color: #04274C;
}

.postagem p {
    color: #535353;
}

.postagem.interna p {
    font-size: 14px;
}

.postagem span.fonte {
    color: #444444;
    display: block;
    font-size: 12px;
    margin: 0 0 10px;
}

.postagem span.fonte a {
    color: #444444;
}

.postagem a.noticia-completa {
    border: 2px solid #23a9a9;
    color: #05315A;
    display: inline-block;
    padding: 5px 15px;
    text-transform: uppercase;
}

.postagem a.noticia-completa:hover {
    background: none repeat scroll 0 0 #23a9a9;
    color: #ffffff;
    text-decoration: none;
}

.postagem.noticia a.leia-mais {
    color: #053159;
}

.postagem.publicacao a.leia-mais {
    color: #053159;
}

a.voltar {
    color: #031e3a;
    font-weight: bold;
    text-transform: uppercase;
    background: url("../../img/site/voltar-pagina.png") left center no-repeat;
    padding: 10px 20px;
    float: left;
}

form#pesquisa {
    float: right;
}

form#pesquisa input[type="text"] {
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    color: #555555;
    float: left;
    font-size: 13px;
    height: 30px;
    padding: 0 10px;
    width: 173px;
}

form#pesquisa input[type="submit"] {
    background: url("../../img/site/submit-pesquisa.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    height: 30px;
    width: 44px;
}

.paginacao .seta a {
    margin: 0;
}

.paginacao span {
    color: #525252;
    margin: 0 10px;
}

.paginacao span:hover {
    color: #24A9A9;
    text-decoration: none;
}

.paginacao span.pagina-ativa {
    color: #24A9A9;
    font-size: 16px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.espacamento-linha-titulo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.espacamento-linha {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bd-empresa, .bd-areas-atuacao {
    background-color: #0F0F1E;
}

.bd-areas-atuacao h2.azul, .bd-areas-atuacao h2 span, .bd-areas-atuacao h2 {
    text-transform: none;
}

.bd-empresa section.scalzilli-corporate {
    height: auto;
    padding: 40px 0;
}

.bd-empresa section.scalzilli-corporate .retangulo {
    height: auto;
    margin-top: 80px;
}

.bd-empresa section.scalzilli-corporate .retangulo img {
    margin: 0;
}

.bd-areas-atuacao section.topo h1 {
    margin: 180px 0 0 0;
}

.bd-areas-atuacao section.topo span {
    bottom: 100px;
}

.bd-areas-atuacao section.topo .espacamento-linha {
    margin-top: 10px;
}

@media all and (max-width: 1199px) {

    header nav li {
        padding: 0 5px;
    }

    header nav a {
        font-size: 13px;
    }

    section.scalzilli-corporate .retangulo {
        background: none repeat scroll 0 0 rgba(236, 236, 251, 0.8);
        height: auto;
        padding: 30px;
        width: 100%;
    }

}

@media all and (max-width: 991px) {
    h2 {
        font-size: 45px;
    }

    header {
        background: none repeat scroll 0 0 rgb(3, 30, 58);
        position: relative;
    }
    
    section.quem-somos figure img.grayscale {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        filter: none;
    }

    section.areas-atuacao .areas-carrosel .owl-buttons div {
        top: -125px;
        width: 30px;
    }

    section.areas-atuacao .areas-carrosel .owl-buttons div.owl-next {
        right: 0;
    }

    section.areas-atuacao .areas-carrosel .owl-buttons div.owl-prev {
        left: 0;
    }

    .margin-top {
        margin-top: 40px !important;
    }

    section.scalzilli-corporate {
        height: auto;
        padding: 30px 0;
    }

    section.quem-somos figcaption {
        display: block;
    }

    section.topo {
        height: 350px;
    }

    .bd-empresa section.topo h1 {
        margin: 175px 0 0;
    }

    .bd-areas-atuacao section.topo h1 {
        margin: 115px 0 0;
    }

    .bd-consulte-processo section.topo h1 {
        margin: 225px 0 0 0 !important;
    }

    section.topo h1 {
        font-size: 65px;
        margin: 220px 0 0;
    }

    .espaco-bloco {
        padding-top: 20px;
    }

}

@media all and (max-width: 767px) {
    header {
        padding: 20px 0;
    }
    
    h1 {
        font-size: 40px !important;
    }
    
    h2 {
        font-size: 40px;
    }

    h1 span,
    h2.azul,
    h2 span {
        font-size: 20px !important;
    }

    h1 span {
        bottom: 45px !important;
    }

    section.topo.consulte-processo span {
        bottom: 70px !important;
    }

    .bd-trabalhe-conosco section.topo h1 {
        margin: 220px 0 0 !important;
    }

    .bd-trabalhe-conosco section.topo h1 span {
        bottom: 85px !important;
    }

    .bd-links-uteis section.topo h1 {
        margin: 220px 0 0 !important;
    }

    .bd-links-uteis section.topo h1 span {
        bottom: 95px !important;
    }

    .bd-areas-atuacao a span {
        min-height: inherit !important;
        height: auto !important;
    }

    .bd-areas-atuacao h1 {
        margin: 175px 0 0 0 !important;
    }

    .bd-areas-atuacao h1 span {
        bottom: 75px !important;
    }

    .bd-areas-atuacao h2 span {
        font-size: 19px !important;
    }

    .bd-consulte-processo h1 span {
        bottom: 80px !important;
    }

    h2.custom,
    section.direito-empresarial-corporativo h2,
    section.recuperacao-judicial h2,
    section.tributario-societario h2,
    section.trabalhista-gestao-rh h2,
    section.direito-internacional h2,
    section.energia-infraestrutura-meio-ambiente h2,
    section.direito-eletronico h2,
    section.etica-sustentabilidade-responsabilidade-social h2,
    section.diretoria h2,
    section.sobre h2,
    section.quem-somos h2,
    section.missao h2,
    section.publicacoes-noticias h2,
    section.consultas h2 {
        font-size: 30px;
    }

    section.consultas a.botao.custom {
        margin: 0 0 20px;
    }

    .ultilidades a.botao {
        margin: 0 0 30px;
    }

    section.sobre .perfil-institucional {
        /* padding: 15px 29px; */
    }

    section.scalzilli-corporate-texto .espaco-email img {
        margin-left: 0;
    }

    section.scalzilli-corporate-texto .espaco-email p {
        font-size: 11px;
    }

    .espaco-bloco {
        padding-top: 20px;
    }

    .etica-sustentabilidade-carrosel .owl-item .legenda, .responsabilidade-social-carrosel .owl-item .legenda {
        padding: 10px;
    }

}

@media all and (max-width : 768px) {
    .listagem-categorias.areas-atuacao li a {
        background-position: 175px center !important;
    }

    .bd-consulte-processo section.consulte-processo h1 {
        margin: 153px 0 0 0 !important;
    }

    .bd-consulte-processo section.consulte-processo h1 span {
        bottom: 105px !important;
    }
}

.cake-sql-log {
    width: 100%;
    background: #fff;
    padding: 10px;
}

.box-area-atuacao {
    min-height: 100px !important;
    display: table !important;
    margin-bottom: 25px;
}

.box-area-atuacao div {
    display: table-cell;
    vertical-align: middle;
}

section.enquete {
    background: #032547;
    padding: 50px 0;
    display: none;
}

section.enquete h2 {
    font-size: 20px;
    text-transform: none;
    margin: 0 0 15px 0;
}

section.enquete label {
    text-transform: none;
}

section.enquete input[type="submit"] {
    margin: 15px 0 0 0;
}

.bd-trabalhe-conosco section.topo h1 {
    margin: 240px 0 0;
}

.bd-trabalhe-conosco section.topo h1 span {
    bottom: 115px;
}

section.trabalhe-conosco {
    background-color: #100F1D
}

.bd-links-uteis section.topo h1 {
    margin: 240px 0 0;
}

.bd-links-uteis section.topo h1 span {
    bottom: 120px;
}

section.links-uteis {
    background-color: #0A1529;
    background-position: top center;
}

section.links-uteis a {
    color: #f5f5f5;
}

.bd-empresa-interna section.topo h1 {
    margin: 240px 0 0;
}

.bd-empresa-interna section.topo h1 span {
    bottom: 120px;
}

.error-message {
    color: #a94442;
}

section.profissionais {
    background: #0C0B19;
}

section.societario-e-compliance, section.energia-gas-petroleo-e-infraestrutura {
    padding: 40px 0;
    background: #031E39;
}

section.suporte-juridico-ao-empreendedorismo-e-projetos-de-inovacao {
    padding: 40px 0;
    background: #eeeeee;
}

section.suporte-juridico-ao-empreendedorismo-e-projetos-de-inovacao h2, section.suporte-juridico-ao-empreendedorismo-e-projetos-de-inovacao p {
    color: #0E0E1E;
}

section.suporte-juridico-ao-empreendedorismo-e-projetos-de-inovacao a {
    color: #0F0F1E;
}

.foto-profissional-home {
    max-height: 317px;
    overflow: hidden;
    max-width: 100%;
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
}

.foto-profissional-home img {
    width: 100%;
    -webkit-transition: margin-top .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: margin-top .5s ease-out;  /* FF4+ */
    -ms-transition: margin-top .5s ease-out;  /* IE10? */
    -o-transition: margin-top .5s ease-out;  /* Opera 10.5+ */
    transition: margin-top .5s ease-out;
}
/*
ul.paginacao {
    width: auto;
}
ul.paginacao li {
    list-style: none;
    float: left;
}*/

header .login-intranet  {
    /* margin-bottom: -10px;
    margin-right: 175px;
    margin-top: -26px; */
    position: relative;
    right: 30px;
    top: -38px;
}

div.login-intranet form#intranet input[type="text"],
div.login-intranet form#intranet input[type="password"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #23a8a8;
    color: #ffffff;
    font-size: 11px;
    height: 20px;
    padding: 0 10px;
    width: 100%;
}

div.login-intranet form#intranet input[type="submit"] {
    float: left !important;
    font-size: 11px;
    height: 20px;
    line-height: normal;
    padding-top: 2px;
    width: 100%;
    padding: 0px 4px;
}

div.login-intranet span{
    color: #fff;
    display: block;
    float: none;
    font-size: 11px;
    padding-top: 2px;
}

header .consulte-seu-processo {
    color: #fff;
    /* position: relative;
    top: -20px;
    right: -75px; */
    font-size: 11px;
}

header .consulte-seu-processo a {
    color: #fff;
    font-size: 12px;
}

.text-align-right{
    text-align: right;
}

section.scalzilli-corporate a.botao-acesse-o-site {
    border: 2px solid #1e8185;
    background-color: #FFF;
    color: #0f0f1e;
    float: right;
    margin-top: 30px;
    margin-left: 10px;
}

section.scalzilli-corporate a.botao-acesse-o-site:hover{
    background: none repeat scroll 0 0 #1e8185;
    color: #FFF;
}

ul.lista-documentos{
    list-style: none;
    padding: 0px;
}
ul.lista-documentos li{
    background: url("../../img/site/pdf-icon.png") no-repeat scroll 0 0 transparent;
}
.topo.consulte-processo span{
    bottom: 115px;
}

.processos .fundo{
    background: none repeat scroll 0 0 #f5f5f5 !important;
}

.vagas-cadastradas .owl-prev, .vagas-cadastradas .owl-next {
    /* background: #21A7A8;
    width: 100px;
    height: 100px; */
}

.circulo {
    border-radius: 50%;
    display: inline-block;
}

.share-content{
    color: #B9B9B9;
    margin-right: 20px;
}
.share-content .add-this{
    float: right;
    margin-left: 10px;
    margin-top: -3px;
}
.add-this .addthis_20x20_style .at15nc.at15t_facebook {
    background: url(../../img/site/compartilhe.png) 0 0 no-repeat !important;
    width: 27px !important;
    height: 27px !important;
}
.add-this .addthis_20x20_style .at15nc.at15t_twitter {
    background: url(../../img/site/compartilhe.png) -27px 0 no-repeat !important;
    width: 27px !important;
    height: 27px !important;
}
.add-this .addthis_20x20_style .at15nc.at15t_email {
    background: url(../../img/site/compartilhe.png) -54px 0 no-repeat !important;
    width: 27px !important;
    height: 27px !important;
}
.add-this .addthis_20x20_style .at15nc.at15t_google_plusone_share {
    background: url(../../img/site/compartilhe.png) -81px 0 no-repeat !important;
    width: 27px !important;
    height: 27px !important;
}
.add-this .addthis_20x20_style .at15nc.at15t_compact {
    background: url(../../img/site/compartilhe.png) -108px 0 no-repeat !important;
    width: 27px !important;
    height: 27px !important;
}

.share-enquete {
    width: 27px;
    height: 27px;
    float: left;
    overflow: hidden;
}

.share-twitter {
    text-indent: -9999px;
    background: url(../../img/site/compartilhe.png) -27px 0 no-repeat;
}

.share-facebook {
    background: url(../../img/site/compartilhe.png) 0 0 no-repeat;
    cursor: pointer;
}

.fb_iframe_widget > .uiIconText {
    padding-left: 0 !important;
    left: -60px !important;
    padding-right: 20px !important;
}

.consulta-iframe {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: auto;
}

.pesquisa-iframe {
    width: 100%;
    height: 2600px;
    border: 0;
    overflow: hidden;
}

.share-linkedin {
    background: url(../../img/site/share-linkedin.png) 2px 2px no-repeat;
    width: 27px;
    height: 27px;
    float: left;
    text-indent: -9999px;
}

section.na-midia h1 {
    margin: 255px 0 0 0;
    font-size: 60px;
}

section.na-midia span {
    font-size: 32px;
    bottom: 99px;
}

.espacamento {
    padding-bottom: 15px;
}

section.profissionais a {
    color: #fff;
    font-weight: bold;
}

section.pesquisa-satisfacao h1 {
    margin: 240px 0 0;
}

section.pesquisa-satisfacao h1 span {
    bottom: 115px;
}

.padding-menos-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

section.atendimento {
    background: #0a1529;
    padding: 40px 0;
}

section.padrao-atendimento {
    background: #0a1529;
    /*padding: 40px 0;*/
}

section.padrao-atendimento h3 {
    text-transform: uppercase;
}

.column {
    float: left;
}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}

/* Configurate salvattore with media queries */
@media screen and (max-width: 450px) {
    #timeline[data-columns]::before {
        content: '1 .column';
    }
}

@media screen and (min-width: 451px) and (max-width: 700px) {
    #timeline[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

@media screen and (min-width: 701px) and (max-width: 850px) {
    #timeline[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

@media screen and (min-width: 851px) {
    #timeline[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}

.linha {
    display: block; height: 1px;
    border: 0;
    border-top: 1px solid #24A8A8;
    margin: 4em 0 3em;
    padding: 0;
}

a {
    color: #22a6a6;
}
a:hover {
    color: #22a6a6;
}

.bd-termos section.topo span {
    bottom: 100px;
}

.bd-termos section.topo h1 {
    margin: 200px 0 0;
}

section.termos, section.gestao {
    background: #0a1529;
    padding: 40px 0;
}

section.atendimento a.botao.custom {
    width: 100%;
    font-size: 11px;
    padding: 10px 27px;
}

section.atendimento a.botao img {
    vertical-align: middle;
}

section.gestao h2 {
    font-size: 40px;
}

section.gestao .espacamento {
    margin-bottom: 30px;
}

section.errors {
    background: #0F0F1E;
    padding: 40px;
}

.img-interna {
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.uiIconText .img {
    display: none;
}

.table-estrutura-curricular td{
	border-color: #e5e5e5;
}