<?php $this->Html->addCrumb('Banners'); ?>

<div class="row">
     <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
        Banners 
        <?php echo $this->Html->link('Cadastrar Banner', array('action' => 'add'), array('class' => 'btn btn-info pull-right')); ?>
    </h3>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-sm-12 col-md-10 col-lg-11">
                        <?php echo $this->FilterForm->create(null, array('role' => 'form', 'class' => 'form-inline')) ?>
                            <div class="form-group">
                                <?php echo $this->FilterForm->input('filtro_nome', array('placeholder' => 'Filtrar por nome', 'class' => 'form-control')) ?>
                            </div>
                            <div class="form-group">
                                <?php echo $this->FilterForm->input('filtro_banner_tipo_id', array('placeholder' => 'Filtrar por tipo', 'class' => 'form-control')) ?>
                            </div>
                            <div class="form-group">
                                <?php echo $this->FilterForm->input('filtro_sites', array('placeholder' => 'Filtrar por site', 'class' => 'form-control')) ?>
                            </div>
                            <?php echo $this->FilterForm->submit('Filtrar', array('class' => 'btn btn-success', 'div' => false)) ?>
                            <?php echo $this->Html->link('Limpar Filtro', array('action' => 'index'), array('class' => 'btn btn-warning')) ?>
                        <?php echo $this->FilterForm->end() ?>
                    </div>
                    <div class="col-lg-1 visible-md visible-lg">
                       <?php echo $this->Element('/fatorcms/limit'); ?>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">

                <div class="alert alert-warning fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <strong>Dimensões</strong>:<br />
                    Página inicial: 1920px X  875px<br />
                    <?php /*Notícias: 1920px X  341px<br />
                    Página Inicial: 1499px X 370px<br />
                    Página Inicial (Semipresencial): 1920px X 616px<br />
                    Páginas: 1920px X  341px<br />
                    Sidebar: 404px X 338px<br />
                    Mobile: 500px X 500px<br />*/ ?>
                </div>

                <table class="table table-hover general-table">
                    <thead>
                        <tr>
                            <th style="width:60px"><?php echo $this->Paginator->sort('id', '#') ?></th>                            
                            <th>Thumb</th>
                            <th><?php echo $this->Paginator->sort('nome') ?></th>
                            <th><?php echo $this->Paginator->sort('banner_tipo_id') ?></th>
                            <th><?php echo $this->Paginator->sort('ordem') ?></th>
                            <th><?php echo $this->Paginator->sort('status') ?></th>
                            <th><?php echo $this->Paginator->sort('modified', 'Modificação') ?></th>
                            <th style="width:180px">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if(count($banners) > 0): ?>
                            <?php foreach($banners AS $banner): ?>
                            <tr>
                                <td><?php echo $banner['Banner']['id'] ?></td>                                
                                <td><?php echo $this->Image->show($banner['Banner']['path'] .'/'. $banner['Banner']['dir'] . '/400_' . $banner['Banner']['file'], array('width' => 100)); ?></td>
                                <td><?php echo $banner['Banner']['nome'] ?></td>
                                <td><?php echo $banner['BannerTipo']['nome'] ?></td>
                                <td><?php echo $banner['Banner']['ordem'] ?></td>
                                <td>
                                    <input type="checkbox" class="atualiza-status" value="<?php echo $banner['Banner']['status'] == 1 ? 0 : 1 ?>" data-id="<?php echo $banner['Banner']['id'] ?>" data-url="<?php echo $this->Html->url(array('action' => 'status')) ?>" data-on-text="Sim" data-on-color="success" data-off-text="Não" data-off-color="danger"<?php echo $banner['Banner']['status'] == 1 ? ' checked="checked"' : '' ?>>
                                </td>
                                <td><?php echo $this->Time->format($banner['Banner']['modified'], '%d/%m/%Y %H:%M:%S') ?></td>
                                <td>
                                    <?php echo $this->Html->link('<i class="fa fa-edit"></i> Editar', array('action' => 'edit', $banner['Banner']['id']), array('class' => 'btn btn-primary btn-sm', 'escape' => false)) ?> 
                                    <?php echo $this->Html->link('<i class="fa fa-trash-o"></i> Remover', array('action' => 'delete', $banner['Banner']['id']), array('class' => 'btn btn-danger btn-sm', 'escape' => false), __('Deseja mesmo remover o registro # %s?', $banner['Banner']['nome'])) ?>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <tr>
                                <td colspan="9" class="text-center">Nenhum registro encontrado.</td>
                            </tr>
                        <?php endIf; ?>
                    </tbody>
                </table>

                <?php echo $this->Element('/fatorcms/paginator'); ?>
            </div>
        </section>
    </div>
</div>